@charset "UTF-8";
/* Import other styles */
/* Colours */
/* Class Colours */
.darkgrey {
  color: #565A5C; }

.lightgrey {
  color: #B2BFC3; }

.white {
  color: #FFF; }

/* Custom Fonts */
@font-face {
  font-family: 'Conv_TiemposTextWeb-Semibold';
  src: url("fonts/TiemposTextWeb-Semibold.eot");
  src: local("☺"), url("/fonts/TiemposTextWeb-Semibold.woff") format("woff"), url("fonts/TiemposTextWeb-Semibold.ttf") format("truetype"), url("fonts/TiemposTextWeb-Semibold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Conv_TiemposTextWeb-SemiboldItalic';
  src: url("fonts/TiemposTextWeb-SemiboldItalic.eot");
  src: local("☺"), url("/fonts/TiemposTextWeb-SemiboldItalic.woff") format("woff"), url("fonts/TiemposTextWeb-SemiboldItalic.ttf") format("truetype"), url("fonts/TiemposTextWeb-SemiboldItalic.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Conv_Graphik-Regular';
  src: url("fonts/Graphik-Regular.eot");
  src: local("☺"), url("/fonts/Graphik-Regular.woff") format("woff"), url("fonts/Graphik-Regular.ttf") format("truetype"), url("fonts/Graphik-Regular.svg") format("svg");
  font-weight: normal;
  font-style: norma; }

@font-face {
  font-family: 'Conv_Graphik-Medium';
  src: url("fonts/Graphik-Medium.eot");
  src: local("☺"), url("/fonts/Graphik-Medium.woff") format("woff"), url("fonts/Graphik-Medium.ttf") format("truetype"), url("fonts/Graphik-Medium.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Conv_Graphik-Bold';
  src: url("fonts/Graphik-Bold.eot");
  src: local("☺"), url("/fonts/Graphik-Bold.woff") format("woff"), url("fonts/Graphik-Bold.ttf") format("truetype"), url("fonts/Graphik-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Conv_Graphik-Black';
  src: url("fonts/Graphik-Black.eot");
  src: local("☺"), url("/fonts/Graphik-Black.woff") format("woff"), url("fonts/Graphik-Black.ttf") format("truetype"), url("fonts/Graphik-Black.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

/*
 ** Skeleton V2.0.4
 ** Copyright 2014, Dave Gamache
 ** www.getskeleton.com
 ** Free to use under the MIT license.
 ** http://www.opensource.org/licenses/mit-license.php
 ** 12/29/2014 */
/* Table of contents
 *––––––––––––––––––––––––––––––––––––––––––––––––––
 *- Grid
 *- Base Styles
 *- Typography
 *- Links
 *- Buttons
 *- Forms
 *- Lists
 *- Code
 *- Tables
 *- Spacing
 *- Utilities
 *- Clearing
 *- Media Queries */
/* Grid
 *–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 3%;
  box-sizing: border-box;
  max-width: 750px;
  transition: width 0.4s ease; }
  .container.reading {
    transition: all 1s ease-in-out; }
    .container.reading.opacity {
      opacity: 0.8;
      transform: translateY(-10px); }
  .container.mid-wide {
    position: relative;
    margin: 0 auto;
    max-width: 1128px; }
  .container.wide {
    position: relative;
    margin: 0 auto;
    max-width: 1280px; }

.row {
  margin-bottom: 4%; }

.column, .columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

img {
  min-height: 70px;
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
  box-sizing: border-box; }

/* Just for intro image in the work section */
@media (max-width: 800px) {
  .container.fullonmobile {
    width: 100%;
    margin: 0px;
    padding: 0px; }
  .row.fullonmobile {
    width: 100%; } }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; } }

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%; }
  .column, .columns {
    margin-left: 4%; }
  .column:first-child, .columns:first-child {
    margin-left: 0; }
  .one.column, .one.columns {
    width: 4.66666666667%; }
  .two.columns {
    width: 13.3333333333%; }
  .three.columns {
    width: 22%; }
  .four.columns {
    width: 30.6666666667%; }
  .five.columns {
    width: 39.3333333333%; }
  .six.columns {
    width: 48%; }
  .seven.columns {
    width: 56.6666666667%; }
  .eight.columns {
    width: 65.3333333333%; }
  .nine.columns {
    width: 74.0%; }
  .ten.columns {
    width: 82.6666666667%; }
  .eleven.columns {
    width: 91.3333333333%; }
  .twelve.columns {
    width: 100%;
    margin-left: 0; }
  .one-third.column {
    width: 30.6666666667%; }
  .two-thirds.column {
    width: 65.3333333333%; }
  .one-half.column {
    width: 48%; }
  .offset-by-one.column, .offset-by-one.columns {
    margin-left: 8.66666666667%; }
  .offset-by-two.column, .offset-by-two.columns {
    margin-left: 17.3333333333%; }
  .offset-by-three.column, .offset-by-three.columns {
    margin-left: 26%; }
  .offset-by-four.column, .offset-by-four.columns {
    margin-left: 34.6666666667%; }
  .offset-by-five.column, .offset-by-five.columns {
    margin-left: 43.3333333333%; }
  .offset-by-six.column, .offset-by-six.columns {
    margin-left: 52%; }
  .offset-by-seven.column, .offset-by-seven.columns {
    margin-left: 60.6666666667%; }
  .offset-by-eight.column, .offset-by-eight.columns {
    margin-left: 69.3333333333%; }
  .offset-by-nine.column, .offset-by-nine.columns {
    margin-left: 78.0%; }
  .offset-by-ten.column, .offset-by-ten.columns {
    margin-left: 86.6666666667%; }
  .offset-by-eleven.column, .offset-by-eleven.columns {
    margin-left: 95.3333333333%; }
  .offset-by-one-third.column, .offset-by-one-third.columns {
    margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column, .offset-by-two-thirds.columns {
    margin-left: 69.3333333333%; }
  .offset-by-one-half.column, .offset-by-one-half.columns {
    margin-left: 52%; } }

/* Base Styles
 *–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
 *html is set to 62.5% so that all the REM measurements t oughout Skeleton
 *are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%; }

body {
  font-size: 1.6em;
  line-height: 1.4;
  font-weight: 400;
  font-family: "Conv_Graphik-Regular", sans-serif;
  font-style: normal;
  color: #8A9CA8;
  padding-bottom: 60px; }

.no-index {
  padding-bottom: 0px; }

/* Typography
 *–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  font-family: "Conv_Graphik-Medium", sans-serif;
  margin-top: -0.2em;
  margin-bottom: -0.3em; }

h1 {
  font-size: 4.5rem;
  line-height: 1.2; }
  h1.introwork {
    margin-top: 1%;
    margin-bottom: 0px;
    line-height: 1.4;
    font-size: 4rem; }
    @media (max-width: 500px) {
      h1.introwork {
        margin-top: 2.5%;
        font-size: 3.2rem; } }

h2 {
  font-size: 3.3rem;
  line-height: 1.25; }
  h2.introwork {
    margin-bottom: 0px;
    line-height: 1.4;
    font-size: 3.4rem;
    font-family: "Conv_Graphik-Regular", sans-serif;
    color: #B2BFC3;
    letter-spacing: -.02rem; }
    @media (max-width: 500px) {
      h2.introwork {
        font-size: 2rem; } }

h3 {
  font-size: 3.2rem;
  line-height: 1.3;
  font-family: "Conv_Graphik-Regular", sans-serif; }
  @media (max-width: 500px) {
    h3 {
      font-size: 0.7rem;
      line-height: 1.3;
      margin-top: 2%;
      margin-bottom: 2%; } }
  h3.introwork {
    text-transform: uppercase;
    margin-bottom: 0px;
    line-height: 2.4;
    font-size: 1.1rem;
    font-family: "Conv_Graphik-Medium", sans-serif;
    color: #8A9CA8; }
    @media (max-width: 500px) {
      h3.introwork {
        font-size: 1.1rem; } }

h4 {
  font-size: 2.4rem;
  font-family: "Conv_Graphik-Regular", sans-serif;
  line-height: 1.25;
  letter-spacing: -.04rem; }

h5 {
  font-size: 1.1rem;
  line-height: 1.5; }

h6 {
  font-size: 1.1rem;
  line-height: 1.6;
  font-family: "Conv_Graphik-Medium", sans-serif;
  letter-spacing: 0.3rem;
  text-transform: uppercase; }
  h6.subject {
    margin-bottom: 1.3%; }

p {
  font-size: 1.6rem;
  line-height: 1.4;
  font-size: "Conv_Graphik-Medium", sans-serif;
  margin-top: 0px; }
  p > a {
    color: #565A5C;
    border-bottom: 1px dashed #B2BFC3;
    padding-bottom: 1px;
    background-color: rgba(255, 143, 156, 0.1);
    transition: all 0.3s cubic-bezier(0.39, 0.01, 0, 0.99); }
    p > a:hover {
      border-bottom: none;
      color: #FF8F9C;
      background-color: rgba(255, 143, 156, 0); }

.caption {
  padding-bottom: 1%;
  font-size: 1.2rem;
  line-height: 1.4; }
  @media (max-width: 550px) {
    .caption {
      padding-top: 0;
      padding-bottom: 6%; } }
  .caption li {
    list-style: none;
    margin-bottom: 1px;
    font-size: 1.3rem;
    font-family: "Conv_Graphik-Medium", sans-serif;
    margin-left: -10px; }
  .caption .title {
    font-size: 1.20rem;
    margin-bottom: 5px;
    font-family: "Conv_Graphik-Medium", sans-serif; }
  .caption.right {
    text-align: right;
    padding-right: 10px;
    margin-right: 10px; }
    .caption.right.border {
      border-right: 0.5px solid #ebeff0; }
  .caption.left {
    text-align: left;
    padding-left: 10px; }
    .caption.left.border {
      border-left: 0.5px solid #ebeff0; }

.quote {
  text-align: center;
  padding: 4% 15%;
  font-family: "Conv_Graphik-Bold", sans-serif; }

.social {
  font-size: 1.4rem; }

.company-desc {
  padding: 30px 0 10px 0; }
  .company-desc p {
    font-size: 2.3rem;
    line-height: 1.4;
    color: #8A9CA8;
    margin-bottom: 0px; }
  .company-desc .subject {
    line-height: 3.2; }
  @media (max-width: 550px) {
    .company-desc p {
      font-size: 1.8rem; } }

@media (min-width: 550px) {
  .hide-on-desk {
    display: none; } }

/* Larger than phablet */
@media (max-width: 550px) {
  h1 {
    font-size: 4.6rem; }
  h2 {
    font-size: 4.2rem; }
  h3 {
    font-size: 2.5rem; }
  h4 {
    font-size: 2.5rem; }
  h5 {
    font-size: 2.2rem; }
  h6 {
    font-size: 1.3rem; }
  .col-margin-mobile {
    margin-bottom: 4%; }
  .hide-on-mobile {
    display: none; }
  .half-on-mobile {
    width: 46%; }
    .half-on-mobile:nth-child(n+3) {
      margin-top: 4%; }
    .half-on-mobile:nth-child(1n-3) {
      margin-right: 4%; } }

/* Links
 *–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #FF8F9C;
  border-bottom: none;
  text-decoration: none; }
  a:hover {
    color: #EF5567; }

/* Buttons
 *–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button, button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }

input[type="submit"], input[type="reset"], input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }

.button:hover, button:hover {
  color: #333;
  border-color: #888;
  outline: 0; }

input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover {
  color: #333;
  border-color: #888;
  outline: 0; }

.button:focus, button:focus {
  color: #333;
  border-color: #888;
  outline: 0; }

input[type="submit"]:focus, input[type="reset"]:focus, input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }

.button.button-primary, button.button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }

input[type="submit"].button-primary, input[type="reset"].button-primary, input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }

.button.button-primary:hover, button.button-primary:hover {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }

input[type="submit"].button-primary:hover, input[type="reset"].button-primary:hover, input[type="button"].button-primary:hover {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }

.button.button-primary:focus, button.button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }

input[type="submit"].button-primary:focus, input[type="reset"].button-primary:focus, input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }

input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"] {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }

textarea, select {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }

input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }

input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="text"]:focus, input[type="tel"]:focus, input[type="url"]:focus, input[type="password"]:focus {
  border: 1px solid #33C3F0;
  outline: 0; }

textarea:focus, select:focus {
  border: 1px solid #33C3F0;
  outline: 0; }

label, legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }

fieldset {
  padding: 0;
  border-width: 0; }

input[type="checkbox"], input[type="radio"] {
  display: inline; }

label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }

ul {
  list-style: circle inside; }

ol {
  list-style: decimal inside;
  padding-left: 0;
  margin-top: 0; }

ul {
  padding-left: 0;
  margin-top: 0; }
  ul ul, ul ol {
    margin: 1.5rem 0 1.5rem 3rem;
    font-size: 90%; }

ol ol, ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }

li {
  margin-bottom: 1rem; }

/* Code
 *–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px; }

pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }

/* Tables
 *–––––––––––––––––––––––––––––––––––––––––––––––––– */
th, td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }

th:first-child, td:first-child {
  padding-left: 0; }

th:last-child, td:last-child {
  padding-right: 0; }

/* Spacing
 *–––––––––––––––––––––––––––––––––––––––––––––––––– */
button, .button {
  margin-bottom: 1rem; }

input, textarea, select, fieldset {
  margin-bottom: 1.5rem; }

pre, blockquote, dl, figure, table, p, ul, ol, form {
  margin-bottom: 2.5rem; }

/* Utilities
 *–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }

.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }

.u-pull-right {
  float: right; }

.u-pull-left {
  float: left; }

/* Misc
 *–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 4%;
  margin-bottom: 4%;
  border: 3px solid #B2BFC3;
  width: 20px;
  margin-left: 0;
  border-radius: 20px; }
  @media (max-width: 550px) {
    hr {
      margin-bottom: 7%; } }

/* Clearing
 *–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Self Clearing Goodness */
.container:after, .row:after, .u-cf {
  content: "";
  display: table;
  clear: both; }

@keyframes opacity {
  from {
    opacity: 0; }
  to {
    opacity: 100%; } }

@keyframes movement {
  from {
    transform: translateY(-20px);
    opacity: 0; }
  to {
    transform: translateY(0px);
    opacity: 100%; } }

.pil {
  background-color: #F9FAFBe;
  position: relative;
  overflow: hidden;
  height: auto; }
  .pil img {
    display: block;
    opacity: 0;
    transition: opacity 0.5s ease-out; }

.pil-loaded img:first-of-type {
  opacity: 1; }

.pil-thumb img {
  position: absolute;
  top: 2%;
  transform: scale(1.2);
  transition: opacity 0.3s ease-out;
  -webkit-filter: blur(30px);
  filter: blur(20px); }

.pil-thumb.pil-thumb-loaded img {
  opacity: 1; }

.pil-loaded .pil-thumb img {
  opacity: 0; }

header {
  transition: all 0.2s ease-in-out;
  background-color: white;
  z-index: 1000;
  height: 60px;
  position: fixed;
  width: 100%;
  opacity: 0; }
  header .split {
    width: 31.350%;
    opacity: 0;
    float: left;
    box-sizing: border-box;
    margin-left: 2.4%;
    overflow: hidden; }
    header .split:first-child {
      margin-left: 0; }
    @media (max-width: 700px) {
      header .split {
        width: 32.250%;
        margin-left: 2%; } }
    header .split:hover > span {
      color: #EF5567; }
    header .split.right {
      float: right;
      text-align: right;
      color: #8A9CA8;
      padding: 15px 10px 0px 0px;
      transform: translateX(100px); }
    header .split.left {
      text-align: left;
      color: #8A9CA8;
      padding: 15px 0px 0px 10px;
      transform: translateX(-100px); }
  @media (min-width: 500px) {
    header {
      bottom: 0px;
      left: 0px;
      box-shadow: 0.15rem 0.26rem 2.9rem rgba(0, 0, 0, 0.08); } }
  @media (max-width: 500px) {
    header {
      bottom: 0px;
      left: 0px;
      background-color: white;
      box-shadow: 0 0 1px 0 #CAD7DC; } }
  header.sticky {
    opacity: 1;
    transition: all 0.6s cubic-bezier(0.715, 0.005, 0.22, 1); }
    header.sticky .split {
      opacity: 1;
      height: 50px; }
      header.sticky .split.right {
        transition: all 0.4s cubic-bezier(0.715, 0.005, 0.22, 1);
        transform: translateX(0px); }
        header.sticky .split.right:hover {
          transform: translateX(-10px); }
          @media (max-width: 700px) {
            header.sticky .split.right:hover {
              transform: none; } }
      header.sticky .split.left {
        transition: all 0.4s cubic-bezier(0.715, 0.005, 0.22, 1);
        transform: translateX(0px); }
        header.sticky .split.left:hover {
          transform: translateX(10px); }
          @media (max-width: 700px) {
            header.sticky .split.left:hover {
              transform: none; } }
    header.sticky .francesco_dechirico {
      width: 35px;
      margin: auto;
      margin-top: 10px;
      display: block; }
      header.sticky .francesco_dechirico svg {
        width: 35px;
        height: 35px; }
        header.sticky .francesco_dechirico svg path {
          fill: #FF8F9C;
          transition: all 0.3s cubic-bezier(0.39, 0.01, 0, 0.99); }
          header.sticky .francesco_dechirico svg path:hover {
            fill: #EF5567; }
    header.sticky h6 {
      font-size: 0.9rem;
      margin-bottom: 0.5%; }
    header.sticky span {
      color: #565A5C;
      font-size: 1.6rem; }

.hero {
  margin-top: 15%; }
  .hero .francesco_dechirico {
    position: relative;
    cursor: pointer;
    display: block;
    width: 43px;
    height: 43px;
    margin-bottom: 40px;
    margin-left: -20px; }
    @media (max-width: 500px) {
      .hero .francesco_dechirico {
        margin: auto;
        margin-left: -10px;
        margin-bottom: 30px; } }
    .hero .francesco_dechirico svg {
      width: 43px;
      height: 43px; }
      .hero .francesco_dechirico svg path {
        fill: #FF8F9C;
        transition: all 0.3s cubic-bezier(0.39, 0.01, 0, 0.99); }
        .hero .francesco_dechirico svg path:hover {
          fill: #EF5567; }
    .hero .francesco_dechirico h1 {
      margin: 0px;
      text-decoration: none;
      font-size: 2rem;
      font-family: "Conv_Graphik-Medium", sans-serif;
      animation: opacity 0.5s; }
      @media (max-width: 500px) {
        .hero .francesco_dechirico h1 {
          font-size: 2rem; } }
  .hero .intro {
    margin: 4% 0px;
    overflow-wrap: break-word;
    animation: opacity 1s cubic-bezier(0.715, 0.005, 0.22, 1); }
    .hero .intro h1 {
      font-family: "Conv_Graphik-Medium", sans-serif;
      display: inline;
      letter-spacing: -0.5px;
      font-size: 4.2rem;
      line-height: 1.1;
      color: #565A5C; }
      @media (max-width: 500px) {
        .hero .intro h1 {
          font-size: 2.8rem;
          line-height: 1.2; } }
      .hero .intro h1 a {
        color: #565A5C; }
        .hero .intro h1 a:hover {
          border-bottom: none;
          color: #EF5567;
          transition: all 0.3s cubic-bezier(0.39, 0.01, 0, 0.99); }
    .hero .intro h3 {
      letter-spacing: -0.8px;
      font-family: "Conv_Graphik-Regular", sans-serif;
      font-size: 3.9rem;
      line-height: 1.2;
      display: inline; }
      @media (max-width: 500px) {
        .hero .intro h3 {
          font-size: 2.6rem;
          line-height: 1.2; } }
      .hero .intro h3 > a {
        border-bottom: none;
        color: #565A5C;
        display: inline-block;
        background-position: 0% 110%, 110% 96%, 0% 91%;
        background-repeat: no-repeat, no-repeat, repeat-x;
        background-size: 2px 2px;
        text-shadow: 2px 0 #ffffff, -2px 0 #ffffff, 0 2px #ffffff, 0 -2px #ffffff, 2px 0 #ffffff, -2px 0 #ffffff, 2px 0 #ffffff, -2px 0 #ffffff, 2px 0 #ffffff, -2px 0 #ffffff, 2px 0 #ffffff; }
        .hero .intro h3 > a:hover {
          color: #EF5567;
          background-position: 0% 110%, 110% 96%, 0% 91%;
          background-repeat: no-repeat, no-repeat, repeat-x;
          background-size: 2px 2px;
          text-shadow: 2px 0 #ffffff, -2px 0 #ffffff, 0 2px #ffffff, 0 -2px #ffffff, 2px 0 #ffffff, -2px 0 #ffffff, 2px 0 #ffffff, -2px 0 #ffffff, 2px 0 #ffffff, -2px 0 #ffffff, 2px 0 #ffffff; }

.works {
  margin-top: 20px;
  animation: opacity;
  animation-delay: 0.2s; }
  .works img {
    min-height: auto; }
  .works h6 {
    margin-top: 2%;
    margin-bottom: 2%; }
  .works .description {
    display: none; }
  .works a {
    border: none; }
    .works a:hover {
      border: none; }
  @media (max-width: 550px) {
    .works .row {
      margin-bottom: 0px; }
      .works .row .columns {
        margin-bottom: 4%; } }
  .works .item {
    height: auto;
    overflow: hidden;
    position: relative; }
    .works .item .cs {
      color: white;
      position: absolute;
      right: 26px;
      top: 26px;
      z-index: 1000;
      text-transform: uppercase;
      font-size: 0.9rem;
      letter-spacing: 0.1rem;
      background-color: rgba(255, 255, 255, 0.4);
      padding: 5px 8px 2px 8px;
      text-align: center;
      display: inline-block;
      line-height: 1.4;
      border-radius: 50px; }
    .works .item .mask {
      width: 100%;
      height: 100%;
      position: absolute;
      overflow: hidden;
      top: 0;
      left: 0;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.6);
      opacity: 0;
      transition: all 0.3s ease-in 0s; }
      .works .item .mask .mask-text {
        position: relative;
        left: 20px;
        top: 20px; }
        .works .item .mask .mask-text h5 {
          opacity: 0;
          font-size: 1.9rem;
          transform: translateY(10px);
          position: relative;
          line-height: 2.4;
          margin-left: 6px; }
        .works .item .mask .mask-text span {
          opacity: 1;
          font-size: 1.4rem;
          color: #B2BFC3;
          margin-left: 6px; }
      .works .item .mask img {
        display: block;
        position: relative;
        width: 100%;
        height: auto; }
    .works .item:hover .mask {
      opacity: 1;
      transition: all 0.2s cubic-bezier(0.715, 0.005, 0.22, 1) 0s; }
      .works .item:hover .mask .mask-text h5 {
        opacity: 1;
        transform: translateY(2px);
        transition: all 0.3s cubic-bezier(0.715, 0.005, 0.22, 1) 0s; }
      .works .item:hover .mask .mask-text span {
        opacity: 1;
        transition: all 0.2s cubic-bezier(0.715, 0.005, 0.22, 1); }
    .works .item:hover img {
      transform: scale(1.05);
      transition: all 0.4s ease 0.2s; }

.one-third-background {
  background-color: #FFE7EA;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 300px;
  box-sizing: border-box; }

.full {
  width: 100%;
  height: auto;
  padding: 6% 0 3% 0; }
  .full.intro {
    padding-bottom: 0px;
    padding-top: 3%; }
    .full.intro .pil-loaded {
      display: block;
      box-shadow: 5px -11px 29px -7px #dde3e5, -5px -11px 29px -7px #dde3e5;
      border-radius: 7px; }
    .full.intro .row {
      margin-bottom: 0px; }
  .full.black {
    background-color: black;
    padding: 6% 0 2% 0; }
  .full.black-iconic {
    background-color: #1F1E23;
    padding: 4% 0 0% 0; }
    @media (max-width: 550px) {
      .full.black-iconic {
        padding: 8% 0 2% 0; } }
  .full.trf {
    background-color: #0E1468;
    padding: 6% 0 2% 0; }
  .full.grey {
    background: #F7F7F7;
    box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.05), inset 0px 1px 0px 0px rgba(0, 0, 0, 0.1); }
  .full.zanui-products {
    height: 480px;
    background-color: white;
    background-image: url("/imgs/zanui/zanui-stamp-bg.jpg");
    background-position: -60px;
    background-size: 380px;
    background-repeat: repeat; }
    .full.zanui-products .stamp {
      width: 200px;
      margin: auto;
      transform: translateY(-50%);
      top: 50%;
      position: relative; }
      @media (max-width: 550px) {
        .full.zanui-products .stamp {
          height: 480px;
          background-size: 200px; }
          .full.zanui-products .stamp .stamp {
            width: 150px; } }
  .full.cm {
    background-color: #2E353E;
    margin-top: 3%;
    margin-bottom: 3%; }
  .full.cm-2 {
    padding: 1% 0 0% 0; }
  .full.geores {
    padding: 0px;
    margin-top: 8%;
    background-image: linear-gradient(-180deg, #F9F9F9 0%, #FFFFFF 89%); }

.margin-top {
  margin-top: 6%;
  display: block; }

.margin-bottom {
  margin-bottom: 3%;
  display: block; }

.margins {
  margin-top: 4%;
  margin-bottom: 4%;
  display: block; }

.margin-less-top {
  margin-top: -6%; }

.small-imgs img {
  width: 90%; }
  .small-imgs img.left {
    float: right; }

@media (max-width: 550px) {
  .small-imgs {
    width: 80%;
    margin: 0 auto; } }

.dropshadow-img img {
  box-shadow: 0 20px 70px 0 #B2BFC3;
  border-radius: 8px; }
  @media (max-width: 550px) {
    .dropshadow-img img {
      box-shadow: 0 11px 30px 0 #82949B;
      border-radius: 2px;
      margin-top: 20px; } }

.geores-intro {
  height: 600px;
  display: block; }
  .geores-intro .img-gif {
    height: 350px;
    width: 350px;
    transform: translateY(-50%);
    top: 50%;
    position: relative; }
  @media (max-width: 550px) {
    .geores-intro {
      height: 400px; } }

.timeline {
  font-size: 1.4rem; }
  @media (max-width: 550px) {
    .timeline li {
      font-size: 1.8rem; }
      .timeline li a {
        font-size: 1.8rem; } }
  .timeline span {
    margin: -10px; }
  .timeline a {
    color: #565A5C;
    transition: all 0.3s cubic-bezier(0.39, 0.01, 0, 0.99); }
    .timeline a:hover {
      color: #FF8F9C;
      border-bottom: 1px dashed #B2BFC3; }
  .timeline ul {
    margin: 0 0 0 10px;
    height: 620px;
    text-align: left;
    text-indent: -26px;
    border-left: 2px solid #efeff0;
    display: block;
    list-style-type: none; }
    .timeline ul > #fadeOut {
      position: absolute;
      top: 580px;
      height: 80px;
      right: 217px;
      width: 21px;
      background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%); }
    .timeline ul li {
      display: block;
      margin-bottom: 28px;
      margin-left: 20px;
      position: relative;
      top: -5px; }
      .timeline ul li:first-child:before {
        position: relative;
        left: -3px;
        background-color: #FF8F9C;
        width: 12px;
        height: 12px;
        margin-right: 10px; }
    .timeline ul li:before {
      padding-top: -10px;
      content: "";
      display: inline-block;
      width: 6px;
      height: 6px;
      border: 2px solid white;
      background-color: #8A9CA8;
      border-radius: 50%;
      margin-right: 16px; }

.getintouch {
  font-size: 1.5rem;
  line-height: 1.4;
  margin-top: 20px;
  overflow-wrap: break-word; }
  @media (max-width: 550px) {
    .getintouch {
      margin-top: 0px;
      line-height: 1.4;
      font-size: 2rem; } }
  .getintouch h3 {
    font-family: "Conv_Graphik-Regular", sans-serif;
    line-height: 1.2; }
  @media (max-width: 550px) {
    .getintouch a {
      letter-spacing: -.07rem; } }

.social.about li {
  padding-right: 6%; }

.social.home li {
  padding-right: 2%;
  margin-top: 4%; }

.social ul {
  list-style: none; }
  .social ul li {
    display: inline-block;
    margin-top: 3%;
    padding-left: 0; }
    .social ul li svg {
      cursor: pointer;
      height: 18px;
      width: 18px; }
      .social ul li svg path {
        fill: #8A9CA8;
        transition: all 0.3s cubic-bezier(0.39, 0.01, 0, 0.99); }
      .social ul li svg:hover path {
        fill: #EF5567; }
  @media (max-width: 550px) {
    .social ul li {
      padding-right: 6%;
      margin-top: 7%; }
      .social ul li svg {
        cursor: pointer;
        height: 22px;
        width: 22px; } }

.skills {
  font-size: 1.6rem; }
  .skills ul {
    text-indent: -10;
    list-style-type: none; }
    .skills ul li {
      margin-bottom: 7px; }
