/*
 ** Skeleton V2.0.4
 ** Copyright 2014, Dave Gamache
 ** www.getskeleton.com
 ** Free to use under the MIT license.
 ** http://www.opensource.org/licenses/mit-license.php
 ** 12/29/2014

/* Table of contents
 *––––––––––––––––––––––––––––––––––––––––––––––––––
 *- Grid
 *- Base Styles
 *- Typography
 *- Links
 *- Buttons
 *- Forms
 *- Lists
 *- Code
 *- Tables
 *- Spacing
 *- Utilities
 *- Clearing
 *- Media Queries


/* Grid
 *––––––––––––––––––––––––––––––––––––––––––––––––––
.container
  position: relative
  width: 100%
  margin: 0 auto
  padding: 0 3%
  box-sizing: border-box
  max-width: 750px
  &.reading
    transition: all 1s ease-in-out
    &.opacity
      opacity: 0.8
      transform: translateY(-10px)

  &.mid-wide
    position: relative
    margin: 0 auto
    max-width: 1128px
  &.wide
    position: relative
    margin: 0 auto
    max-width: 1280px

.row
  margin-bottom: 4%

.column, .columns
  width: 100%
  float: left
  box-sizing: border-box

img
  min-height: 70px
  max-width: 100%
  height: auto
  display: block
  margin: auto
  box-sizing: border-box;


/* Just for intro image in the work section
@media (max-width: 800px)
  .container
    &.fullonmobile
      width: 100%
      margin: 0px
      padding: 0px

/* For devices larger than 400px
@media (min-width: 400px)
  .container
    width: 85%
    padding: 0

/* For devices larger than 550px
@media (min-width: 550px)
  .container
    width: 80%
  .column, .columns
    margin-left: 4%
  .column:first-child, .columns:first-child
    margin-left: 0
  .one
    &.column, &.columns
      width: 4.66666666667%
  .two.columns
    width: 13.3333333333%
  .three.columns
    width: 22%
  .four.columns
    width: 30.6666666667%
  .five.columns
    width: 39.3333333333%
  .six.columns
    width: 48%
  .seven.columns
    width: 56.6666666667%
  .eight.columns
    width: 65.3333333333%
  .nine.columns
    width: 74.0%
  .ten.columns
    width: 82.6666666667%
  .eleven.columns
    width: 91.3333333333%
  .twelve.columns
    width: 100%
    margin-left: 0
  .one-third.column
    width: 30.6666666667%
  .two-thirds.column
    width: 65.3333333333%
  .one-half.column
    width: 48%

    //  Offsets

  .offset-by-one
    &.column, &.columns
      margin-left: 8.66666666667%
  .offset-by-two
    &.column, &.columns
      margin-left: 17.3333333333%
  .offset-by-three
    &.column, &.columns
      margin-left: 26%
  .offset-by-four
    &.column, &.columns
      margin-left: 34.6666666667%
  .offset-by-five
    &.column, &.columns
      margin-left: 43.3333333333%
  .offset-by-six
    &.column, &.columns
      margin-left: 52%
  .offset-by-seven
    &.column, &.columns
      margin-left: 60.6666666667%
  .offset-by-eight
    &.column, &.columns
      margin-left: 69.3333333333%
  .offset-by-nine
    &.column, &.columns
      margin-left: 78.0%
  .offset-by-ten
    &.column, &.columns
      margin-left: 86.6666666667%
  .offset-by-eleven
    &.column, &.columns
      margin-left: 95.3333333333%
  .offset-by-one-third
    &.column, &.columns
      margin-left: 34.6666666667%
  .offset-by-two-thirds
    &.column, &.columns
      margin-left: 69.3333333333%
  .offset-by-one-half
    &.column, &.columns
      margin-left: 52%

/* Base Styles
 *––––––––––––––––––––––––––––––––––––––––––––––––––
/* NOTE
 *html is set to 62.5% so that all the REM measurements t oughout Skeleton
 *are based on 10px sizing. So basically 1.5rem = 15px :)

html
  font-size: 62.5%

body
  font-size: 1.6em
  // /* currently ems cause chrome bug misinterpreting rems on body element
  line-height: 1.4
  font-weight: 400
  font-family: $body
  font-style: normal
  color: $medium
  @media (max-width: 700px)
    padding-bottom: 60px

/* Typography
 *––––––––––––––––––––––––––––––––––––––––––––––––––

h1, h2, h3, h4, h5, h6
  font-weight: 300
  font-family: $semibold
  margin-top: -0.2em
  margin-bottom: -0.3em

h1
  font-size: 4.5rem
  line-height: 1.2
  &.introwork
    margin-top: 2%
    margin-bottom: 0px
    @media (max-width: 500px)
      margin-top: 2.5%
      font-size: 2.8rem

h2
  font-size: 3.3rem
  line-height: 1.25
h3
  font-size: 2.8rem
  line-height: 1.6
h4
  font-size: 2.4rem
  line-height: 1.25
  letter-spacing: -.08rem
h5
  font-size: 1.1rem
  line-height: 1.5
h6
  font-size: 1.1rem
  line-height: 1.6
  font-family: $semibold
  letter-spacing: 0.3rem
  text-transform: uppercase
  &.subject
    margin-bottom: 1.3%

p
  font-size: 1.8rem
  line-height: 1.4
  font-size: $semibold
  margin-top: 0px
  > a
    color: $dark
    border-bottom: 1px dotted $primary-link
    padding-bottom: 1px
    &:hover
      border-bottom: 1px solid $primary-link
      transition: all .3s cubic-bezier(0.39, 0.01, 0, 0.99)
      color: $primary-link

.caption
  padding-top: 1%
  padding-bottom: 1%
  font-size: 1.3rem
  line-height: 1.4
  @media (max-width: 550px)
    padding-top: 6%
    padding-bottom: 6%
  li
    list-style: none
    margin-bottom: 1px
    font-size: 1.3rem
    font-family: $semibold
    margin-left: -10px

  .title
    font-size: 1.20rem
    margin-bottom: 5px
    font-family: $semibold
  &.right
    text-align: right
    padding-right: 10px
    margin-right: 10px
    &.border
      border-right: 0.5px solid lighten($light,20%)
  &.left
    text-align: left
    padding-left: 10px
    &.border
      border-left: 0.5px solid lighten($light,20%)

.quote
  text-align: center
  padding: 4% 15%
  font-family: $bold

.social
  font-size: 1.4rem

.company-desc
  p
    font-size: 2.3rem
    line-height: 1.4
    color: $dark
    margin-bottom: 0px
  @media (max-width: 550px)
    padding: 0px
    p
      font-size: 1.8rem


/* Larger than phablet
@media (max-width: 550px)
  h1
    font-size: 4.6rem
  h2
    font-size: 4.2rem
  h3
    font-size: 2.5rem
  h4
    font-size: 2.5rem
  h5
    font-size: 2.2rem
  h6
    font-size: 1.3rem

  .col-margin-mobile
    margin-bottom: 4%

  .hide-on-mobile
    display: none




/* Links
 *––––––––––––––––––––––––––––––––––––––––––––––––––

a
  color: $primary-link
  border-bottom: none
  text-decoration: none
  &:hover
    color: $primary-link-hover

/* Buttons
 *––––––––––––––––––––––––––––––––––––––––––––––––––

.button, button
  display: inline-block
  height: 38px
  padding: 0 30px
  color: #555
  text-align: center
  font-size: 11px
  font-weight: 600
  line-height: 38px
  letter-spacing: .1rem
  text-transform: uppercase
  text-decoration: none
  white-space: nowrap
  background-color: transparent
  border-radius: 4px
  border: 1px solid #bbb
  cursor: pointer
  box-sizing: border-box

input
  &[type="submit"], &[type="reset"], &[type="button"]
    display: inline-block
    height: 38px
    padding: 0 30px
    color: #555
    text-align: center
    font-size: 11px
    font-weight: 600
    line-height: 38px
    letter-spacing: .1rem
    text-transform: uppercase
    text-decoration: none
    white-space: nowrap
    background-color: transparent
    border-radius: 4px
    border: 1px solid #bbb
    cursor: pointer
    box-sizing: border-box

.button:hover, button:hover
  color: #333
  border-color: #888
  outline: 0

input
  &[type="submit"]:hover, &[type="reset"]:hover, &[type="button"]:hover
    color: #333
    border-color: #888
    outline: 0

.button:focus, button:focus
  color: #333
  border-color: #888
  outline: 0

input
  &[type="submit"]:focus, &[type="reset"]:focus, &[type="button"]:focus
    color: #333
    border-color: #888
    outline: 0

.button.button-primary, button.button-primary
  color: #FFF
  background-color: #33C3F0
  border-color: #33C3F0

input
  &[type="submit"].button-primary, &[type="reset"].button-primary, &[type="button"].button-primary
    color: #FFF
    background-color: #33C3F0
    border-color: #33C3F0

.button.button-primary:hover, button.button-primary:hover
  color: #FFF
  background-color: #1EAEDB
  border-color: #1EAEDB

input
  &[type="submit"].button-primary:hover, &[type="reset"].button-primary:hover, &[type="button"].button-primary:hover
    color: #FFF
    background-color: #1EAEDB
    border-color: #1EAEDB

.button.button-primary:focus, button.button-primary:focus
  color: #FFF
  background-color: #1EAEDB
  border-color: #1EAEDB

input
  &[type="submit"].button-primary:focus, &[type="reset"].button-primary:focus, &[type="button"].button-primary:focus
    color: #FFF
    background-color: #1EAEDB
    border-color: #1EAEDB
  &[type="email"], &[type="number"], &[type="search"], &[type="text"], &[type="tel"], &[type="url"], &[type="password"]
    height: 38px
    padding: 6px 10px
    // /* The 6px vertically centers text on FF, ignored by Webkit
    background-color: #fff
    border: 1px solid #D1D1D1
    border-radius: 4px
    box-shadow: none
    box-sizing: border-box

// /* Forms
textarea, select
  height: 38px
  padding: 6px 10px
  // /* The 6px vertically centers text on FF, ignored by Webkit
  background-color: #fff
  border: 1px solid #D1D1D1
  border-radius: 4px
  box-shadow: none
  box-sizing: border-box

// /* Removes awkward default styles on some inputs for iOS

input
  &[type="email"], &[type="number"], &[type="search"], &[type="text"], &[type="tel"], &[type="url"], &[type="password"]
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none

textarea
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none
  min-height: 65px
  padding-top: 6px
  padding-bottom: 6px

input
  &[type="email"]:focus, &[type="number"]:focus, &[type="search"]:focus, &[type="text"]:focus, &[type="tel"]:focus, &[type="url"]:focus, &[type="password"]:focus
    border: 1px solid #33C3F0
    outline: 0

textarea:focus, select:focus
  border: 1px solid #33C3F0
  outline: 0

label, legend
  display: block
  margin-bottom: .5rem
  font-weight: 600

fieldset
  padding: 0
  border-width: 0

input
  &[type="checkbox"], &[type="radio"]
    display: inline

label > .label-body
  display: inline-block
  margin-left: .5rem
  font-weight: normal

// /* Lists

ul
  list-style: circle inside

ol
  list-style: decimal inside
  padding-left: 0
  margin-top: 0

ul
  padding-left: 0
  margin-top: 0
  ul, ol
    margin: 1.5rem 0 1.5rem 3rem
    font-size: 90%

ol
  ol, ul
    margin: 1.5rem 0 1.5rem 3rem
    font-size: 90%

li
  margin-bottom: 1rem

/* Code
 *––––––––––––––––––––––––––––––––––––––––––––––––––

code
  padding: .2rem .5rem
  margin: 0 .2rem
  font-size: 90%
  white-space: nowrap
  background: #F1F1F1
  border: 1px solid #E1E1E1
  border-radius: 4px

pre > code
  display: block
  padding: 1rem 1.5rem
  white-space: pre

/* Tables
 *––––––––––––––––––––––––––––––––––––––––––––––––––

th, td
  padding: 12px 15px
  text-align: left
  border-bottom: 1px solid #E1E1E1

th:first-child, td:first-child
  padding-left: 0

th:last-child, td:last-child
  padding-right: 0

/* Spacing
 *––––––––––––––––––––––––––––––––––––––––––––––––––

button, .button
  margin-bottom: 1rem

input, textarea, select, fieldset
  margin-bottom: 1.5rem

pre, blockquote, dl, figure, table, p, ul, ol, form
  margin-bottom: 2.5rem

/* Utilities
 *––––––––––––––––––––––––––––––––––––––––––––––––––

.u-full-width
  width: 100%
  box-sizing: border-box

.u-max-full-width
  max-width: 100%
  box-sizing: border-box

.u-pull-right
  float: right

.u-pull-left
  float: left


/* Misc
 *––––––––––––––––––––––––––––––––––––––––––––––––––

hr
  margin-top: 4%
  margin-bottom: 3%
  border: 3px solid $light
  width: 20px
  margin-left: 0
  border-radius: 20px
  @media (max-width: 550px)
    margin-bottom: 7%


/* Clearing
 *––––––––––––––––––––––––––––––––––––––––––––––––––

/* Self Clearing Goodness

.container:after, .row:after, .u-cf
  content: ""
  display: table
  clear: both

// /* Media Queries


// /* Larger than mobile
// @media (min-width: 400px)
//
// // /* Larger than phablet (also point when grid becomes active)
// @media (min-width: 550px)
//
// /* Larger than tablet
// @media (min-width: 750px)
//
// /* Larger than desktop
// @media (min-width: 1000px)
//
// /* Larger than Desktop HD
// @media (min-width: 1200px)
