/* Colours

$dark: #565A5C
$medium: #8A9CA8
$light: #B2BFC3
$white: #FFF
$primary-link: #FF8F9C
$primary-link-hover: #EF5567

$body: 'Conv_Graphik-Regular', sans-serif
$semibold: 'Conv_Graphik-Medium', sans-serif
$bold: 'Conv_Graphik-Bold', sans-serif
$black: 'Conv_Graphik-Black', sans-serif
$serif: 'Conv_TiemposTextWeb-Semibold', serif
$serifitalic: 'Conv_TiemposTextWeb-SemiboldItalic', serif, italic
$monospace: 'Fira Mono', monospace


/* Class Colours
.darkgrey
  color: $dark
.lightgrey
  color: $light
.white
  color: $white

/* Custom Fonts



@font-face
  font-family: 'Conv_TiemposTextWeb-Semibold'
  src: url('fonts/TiemposTextWeb-Semibold.eot')
  src: local("☺"), url('/fonts/TiemposTextWeb-Semibold.woff') format("woff"), url('fonts/TiemposTextWeb-Semibold.ttf') format("truetype"), url('fonts/TiemposTextWeb-Semibold.svg') format("svg")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'Conv_TiemposTextWeb-SemiboldItalic'
  src: url('fonts/TiemposTextWeb-SemiboldItalic.eot')
  src: local("☺"), url('/fonts/TiemposTextWeb-SemiboldItalic.woff') format("woff"), url('fonts/TiemposTextWeb-SemiboldItalic.ttf') format("truetype"), url('fonts/TiemposTextWeb-SemiboldItalic.svg') format("svg")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Conv_Graphik-Regular'
  src: url('fonts/Graphik-Regular.eot')
  src: local("☺"), url('/fonts/Graphik-Regular.woff') format("woff"), url('fonts/Graphik-Regular.ttf') format("truetype"), url('fonts/Graphik-Regular.svg') format("svg")
  font-weight: normal
  font-style: norma

@font-face
  font-family: 'Conv_Graphik-Medium'
  src: url('fonts/Graphik-Medium.eot')
  src: local("☺"), url('/fonts/Graphik-Medium.woff') format("woff"), url('fonts/Graphik-Medium.ttf') format("truetype"), url('fonts/Graphik-Medium.svg') format("svg")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Conv_Graphik-Bold'
  src: url('fonts/Graphik-Bold.eot')
  src: local("☺"), url('/fonts/Graphik-Bold.woff') format("woff"), url('fonts/Graphik-Bold.ttf') format("truetype"), url('fonts/Graphik-Bold.svg') format("svg")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Conv_Graphik-Black'
  src: url('fonts/Graphik-Black.eot')
  src: local("☺"), url('/fonts/Graphik-Black.woff') format("woff"), url('fonts/Graphik-Black.ttf') format("truetype"), url('fonts/Graphik-Black.svg') format("svg")
  font-weight: normal
  font-style: normal
