/* Colours

$dark: #4A4A4A
$medium: #828C8F
$light: #B2BFC3
$white: #FFF

$body: 'aktiv-grotesk', sans-serif
$serif: 'minion-pro', serif
$monospace: 'Fira Mono', monospace


// Class Colours
 *––––––––––––––––––––––––––––––––––––––––––––––––––
.darkgrey
  color: $dark
.lightgrey
  color: $light
.white
  color: $white





  // font-family: 'Baloo', cursive;
  // font-family: 'Work Sans', sans-serif;
  // font-family: 'Space Mono', monospace;
  // font-family: 'Raleway', sans-serif; BODY TYPE
// font-family: 'Merriweather', serif;
// font-family: 'Raleway', sans-serif;
// font-family: 'Fira Mono', monospace;
