/* Colours
$dark: #4A4A4A
$light: #B2BFC3

// Font Colours
.darkgrey
  color: $dark
.grey
  color: $light


a
  // border-bottom: 2px solid #c2e065
  border-bottom: none
  text-decoration: none
  &:hover
    border-bottom: 4px solid #c2e065
    transition: all .1s cubic-bezier(0.39, 0.01, 0, 0.99)

.hero
  margin-top: 20%
  margin-bottom: 6%
  .francesco_dechirico
    a
      text-decoration: none
      font-size: 1.6em

  .intro
    margin-top: 2%
    font-size: 3.2rem
    line-height: 1.1em
    a
      color: black
      &:hover
        border-bottom: none

.row
  margin-bottom: 20px
  .description
    display: none
  img



  // font-family: 'Baloo', cursive;
  // font-family: 'Work Sans', sans-serif;
  // font-family: 'Space Mono', monospace;
  // font-family: 'Montserrat', sans-serif;
  // font-family: 'Raleway', sans-serif;

.social
  ul
    list-style: none

    li
      display: inline
      padding: 0 1%

img
  border-radius: 8px


.line
  border-top: 1px solid $light
  margin: 6% 0px
  width: 3%

.getintouch
  margin: 6% 0px
  h3
    line-height: 2rem
