@import "_variables.sass"
@import "_skeleton.sass"

.hero
  margin-top: 20%
  .francesco_dechirico
    a
      text-decoration: none
      font-size: 1.6em

  .intro
    margin-top: 2%
    font-size: 3.2rem
    line-height: 3.6rem
    a
      color: black
      &:hover
        border-bottom: none
.works
  .description
    display: none
  img
    border-radius: 8px
  a
    border: none
    &:hover
      border: none



.social
  ul
    list-style: none

    li
      display: inline
      padding: 0 1%

.line
  border-top: 1px solid $light
  margin: 6% 0px
  width: 3%

.getintouch
  margin: 6% 0px
  h3
    line-height: 2rem
