@import "_variables.sass"
@import "_skeleton.sass"



.note
  margin-top: 10%
  margin-bottom: 0px
  display: block

.hero
  margin-top: 15%
  .francesco_dechirico
    a
      text-decoration: none
      font-size: 1.3em

  .intro
    margin: 4% 0px
    font-size: 3.3rem
    line-height: 3.6rem

    a
      color: black
      &:hover
        border-bottom: none


.works
  .description
    display: none
  a
    border: none
    &:hover
      border: none

.social
  ul
    list-style: none

    li
      display: inline
      padding: 0 1%

.getintouch
  margin: 6% 0px
