doctype html
include includes/head.jade
  block title
    |  - Campaign Monitor

body      
  .container
    include includes/logo-works.jade
        
    .row
      h1.darkgrey.introwork Campaign Monitor
      
  .full.cm-2
    .container.wide
      .row
        .twelve.columns.dropshadow-img
          img(src="imgs/cm/login-cm.png" srcset="imgs/cm/login-cm@2x.png 2x" alt="login CM")
      .row
        .offset-by-two.six.columns.caption
            .serif Above 
            | A semplified variation of the logomark designed to support small appications.

  .container
    .row
      .ten.columns.company-desc 
        span Monitor is a company with world-class customer support at their core, so one of the main things I wanted to achieve was to bring a more ‘human’ feel to the brand. I needed to represent the product as a respectable market leader, whilst giving the brand a touch of fun and personality.

  .container
    .row.margin-top
      hr
      h6 brief  
      h3.darkgrey A new login screen
    .row
      .nine.columns
        p The Iconic is Australia’s largest online fashion retailer. It launched in 2011 and quickly became a household name with over 90% brand recognition in under 3 years. When creating the visual identity from a technical perspective, I built a foundation that would enable it to be recognised across all platforms. 
      .three.columns.lightgrey
        .caption.left
            li Product Design
            li Illustation
            li Icons Design
            
  .container
    .row.margins        
      .offset-by-two.five.columns
          img(src="imgs/cm/form-details-cm.png" srcset="imgs/cm/form-details-cm@2x.png 2x" )
      .three.columns.caption
        .serif On the right 
        | The Iconic is Australia’s largest online fashion retailer. 


  .full.cm
    .container.wide
      .row
        .twelve.columns
          img(src="imgs/cm/account-selection-cm.png" srcset="imgs/cm/account-selection-cm@2x.png 2x" alt="cm account selection")
    .container
      .row
        .offset-by-two.ten.columns.caption
            .serif On the right 
            | The Iconic is Australia’s largest online fashion retailer. 
    .container
      .row
        .twelve.columns
          img(src="imgs/cm/account-interactions-cm.png" srcset="imgs/cm/account-interactions-cm@2x.png 2x" alt="cm account selection")
  .container
    .row.margin-top
      h6 brief  
      h3.darkgrey Direct Marketing
    .row
      .nine.columns
        p The Iconic is Australia’s largest online fashion retailer. It launched in 2011 and quickly became a household name with over 90% brand recognition in under 3 years. When creating the visual identity from a technical perspective, I built a foundation that would enable it to be recognised across all platforms. 
      .three.columns.lightgrey
        .caption.left
            li Product Design
            li Illustation
            li Icons Design
  .container 
    .row
      .ten.columns
        img(src="imgs/cm/header-cm-titles.png" srcset="imgs/cm/header-cm-titles@2x.png 2x" alt="cm account")
    .row
      .ten.columns.caption
        .serif 
          | On the right 
        | The Iconic is Australia’s largest online fashion retailer. 
  .container 
    .row
      .ten.columns
        img(src="imgs/cm/avatar-dropdown.png" srcset="imgs/cm/avatar-dropdown@2x.png 2x" alt="account dropdown")
    .row
      .ten.columns.caption
        .serif 
          | On the right 
        | The Iconic is Australia’s largest online fashion retailer. 


  .container.wide
      .row
        .twelve.columns
          img(src="imgs/cm/profile-switch-cm.png" srcset="imgs/cm/profile-switch-cm@2x.png 2x" alt="profile switch")
      
      .row
        .offset-by-three.six.columns.margins
          .small-imgs
            img(src="imgs/cm/icons-cm.png" srcset="imgs/cm/icons-cm@2x.png 2x" alt="cm icons")
