doctype html
include includes/head.jade
  block title
    | theright.fit
    
body      
  .container
    .hero
      .francesco_dechirico 
        a(href="home.html") Fra
        
    .row
      hr
      h1.darkgrey Campaign Monitor
    .row.less
      .eight.columns
        p The Iconic is Australia’s largest online fashion retailer. It launched in 2011 and quickly became a household name with over 90% brand recognition in under 3 years. When creating the visual identity from a technical perspective, I built a foundation that would enable it to be recognised across all platforms. 
      .four.columns.comments.lightgrey
        | Art Director - UX/UI Lead
        br
        | 2011-2013

  .container.wide
    .row
      .twelve.columns
        img(src="imgs/cm/login-cm.png" srcset="imgs/cm/login-cm@2x.png 2x" alt="login CM")

  .container
    .row
      .offset-by-one.three.columns.right
        .caption.serif On the right 
        .caption The Iconic is Australia’s largest online fashion retailer. 
      .seven.columns
        img(src="imgs/zanui/zanui-logo-geometric.png" srcset="imgs/zanui/zanui-logo-geometric@2x.png 2x" alt="zanui logo geometric")

  .full.grey
    .container
      .row
        .three.columns.comments Above
        .nine.columns 
          span Heretext heretext heretext heretext heretext heretext heretext heretext heretext heretext heretext heretext heretext heretext heretext here
      .row
        .twelve.columns
          img(src="imgs/zanui/zanui-colours.png" srcset="imgs/zanui/zanui-colours@2x.png 2x" alt="zanui colours")
  .container
    .row.note
      hr 
      h1.darkgrey The Iconic
    .row
      .eight.columns
        p The Iconic is Australia’s largest online fashion retailer. It launched in 2011 and quickly became a household name with over 90% brand recognition in under 3 years. When creating the visual identity from a technical perspective, I built a foundation that would enable it to be recognised across all platforms. 
      .four.columns.comments.lightgrey
        | Art Director - UX/UI Lead
        br
        | 2011-2013   
  .container.wide 
    .row
      .twelve.columns
        img(src="imgs/zanui/zanui-billboard.png" srcset="imgs/zanui/zanui-billboard@2x.png 2x" alt="zanui billboard")
  .container
    .row
      .three.columns.comments Above
      .nine.columns 
        span Heretext heretext heretext heretext heretext heretext heretext heretext heretext heretext heretext heretext heretext heretext heretext here  .container  
  .full.grey
    .container
      .row
        .twelve.columns
          img(src="imgs/zanui/zanui-artwork.png" srcset="imgs/zanui/zanui-artwork@2x.png 2x" alt="zanui artwork")
      .row
        .offset-by-one.ten.columns
          img(src="imgs/zanui/zanui-emails.png" srcset="imgs/zanui/zanui-emails@2x.png 2x" alt="zanui emails")
      .row
        .three.columns.comments Above
        .nine.columns 
          span Heretext heretext heretext heretext heretext heretext heretext heretext heretext heretext heretext heretext heretext heretext heretext here  .container  
  .full.zanui-products
    .stamp
      img(src="imgs/zanui/zanui-stamp.png" srcset="imgs/zanui/zanui-stamp@2x.png" alt="zanui stamp")
