doctype html
include includes/head.jade
  block title
    | theright.fit
    
body      
  .container
    include includes/logo-works.jade
        
    .row
      hr
      h1.darkgrey Campaign Monitor
    .row.less
      .ten.columns
        p The Iconic is Australia’s largest online fashion retailer. It launched in 2011 and quickly became a household name with over 90% brand recognition in under 3 years. When creating the visual identity from a technical perspective, I built a foundation that would enable it to be recognised across all platforms. 
      .two.columns.lightgrey
        .caption Art Director
        .caption UX/UI Lead
        .caption 2011-2013

  .container.wide
    .row
      .twelve.columns
        img(src="imgs/cm/login-cm.png" srcset="imgs/cm/login-cm@2x.png 2x" alt="login CM")

  .container.margins
    .row
      .seven.columns
        .small-imgs.left
          img(src="imgs/cm/form-details-cm.png" srcset="imgs/cm/form-details-cm@2x.png 2x" alt="cm input fields")
      .three.columns.caption
        .serif 
          | On the right 
        | The Iconic is Australia’s largest online fashion retailer. 
  .full.cm
    .container.wide
      .row
        .twelve.columns
          img(src="imgs/cm/account-selection-cm.png" srcset="imgs/cm/account-selection-cm@2x.png 2x" alt="cm account selection")
    .container
      .row
        .offset-by-two.ten.columns.caption
            .serif On the right 
            | The Iconic is Australia’s largest online fashion retailer. 
    .container
      .row
        .twelve.columns
          img(src="imgs/cm/account-interactions-cm.png" srcset="imgs/cm/account-interactions-cm@2x.png 2x" alt="cm account selection")
  .container
    .row.note
      hr 
      h1.darkgrey Direct Marketing
    .row.less
      .nine.columns
        p The Iconic is Australia’s largest online fashion retailer. It launched in 2011 and quickly became a household name with over 90% brand recognition in under 3 years. When creating the visual identity from a technical perspective, I built a foundation that would enable it to be recognised across all platforms. 
      .three.columns.lightgrey
        .caption Art Director
        .caption UX/UI Lead
        .caption 2011-2013  
  .container 
    .row
      .twelve.columns
        img(src="imgs/cm/header-cm-titles.png" srcset="imgs/cm/header-cm-titles@2x.png 2x" alt="cm account")
    .row
      .offset-by-two.ten.columns.caption
        .serif 
          | On the right 
        | The Iconic is Australia’s largest online fashion retailer. 
  .container 
    .row
      .twelve.columns
        img(src="imgs/cm/avatar-dropdown.png" srcset="imgs/cm/avatar-dropdown@2x.png 2x" alt="account dropdown")
    .row
      .offset-by-two.ten.columns.caption
        .serif 
          | On the right 
        | The Iconic is Australia’s largest online fashion retailer. 

  .container.wide
      .row
        .twelve.columns
          img(src="imgs/cm/profile-switch-cm.png" srcset="imgs/cm/profile-switch-cm@2x.png 2x" alt="profile switch")
      .row
        .stamp
          img(src="imgs/cm/icons-cm.png" srcset="imgs/cm/icons-cm@2x.png 2x" alt="cm icons")
