doctype html
include includes/head.jade
  block title
    |  - Campaign Monitor

body      
  .container
    include includes/logo-works.jade
        
    .row
      h1.darkgrey.introwork Campaign Monitor
      
  .full.cm-2
    .container.wide
      .row
        .twelve.columns.dropshadow-img
          img(src="imgs/cm/login-cm.png" srcset="imgs/cm/login-cm@2x.png 2x" alt="login CM")
      .row
        .offset-by-two.six.columns.caption
            .serif Above 
            | The final design created for the new login screen.
  .container
    .row
      .twelve.columns.company-desc 
        p 
          a(href="https://www.campaignmonitor.com/", target="_blank") Campaign Monitor 
          | is an email marketing software that enables email marketers to create, send, manage, and track branded email campaigns for themselves and their clients. Its clients include BuzzFeed, Coca-Cola, Disney, Rip Curl and TOPSHOP.
        //- p.margin-top 
        //-   | My experience at CM has been quite short but it has been an amazing journey. I've met incredibly talented people that are 100% dedicate about improving their users experience.
  .container
    .row
      hr
      h6 brief  
      h3.darkgrey A new login screen
    .row
      .nine.columns
        p When I joined, the company wanted to focus more on the marketers. The previous approach of creating an Agency&Client login needed to be simplified for these new users but in the meantime it still needed to address the existing and new users that were looking for Agency one. My job was to create a simple login screen that could capture both scenarios. 
      .three.columns.lightgrey
        .caption.left
            li Product Design
            li Illustation
            li Icons Design
            
  .container
    .row.margins        
      .offset-by-two.five.columns
          img(src="imgs/cm/form-details-cm.png" srcset="imgs/cm/form-details-cm@2x.png 2x" )
      .three.columns.caption
        .serif On the left 
        | A few states and error messages designed for the login screen.

  .full.cm
    .container.wide
      .row
        .twelve.columns
          img(src="imgs/cm/account-selection-cm.png" srcset="imgs/cm/account-selection-cm@2x.png 2x" alt="cm account selection")
    .container
      .row
        .offset-by-two.ten.columns.caption
            .serif On the top 
            | The Agency view after the initial login showing the clients list.
    .container
      .row
        .twelve.columns
          img(src="imgs/cm/account-interactions-cm.png" srcset="imgs/cm/account-interactions-cm@2x.png 2x" alt="cm account selection")
  .container
    .row.margin-top
      h6 brief  
      h3.darkgrey Direct marketing header
    .row
      .nine.columns
        p As part of the same project we had to design a new header for the direct marketing users. The aim was to simplify the overhaul navigation creating a new header reducing to the essential the UI. On the back of this I’ve been working on few illustration and icon design for the setting section.
      .three.columns.lightgrey
        .caption.left
            li Product Design
            li Illustation
            li Icons Design
  .container 
    .row
      .ten.columns
        img(src="imgs/cm/header-cm-titles.png" srcset="imgs/cm/header-cm-titles@2x.png 2x" alt="cm account")
    .row
      .ten.columns.caption
        .serif 
          | On the top 
        | A few example of how the h1 and the bread crumb works with the new header.
  .container 
    .row
      .ten.columns
        img(src="imgs/cm/avatar-dropdown.png" srcset="imgs/cm/avatar-dropdown@2x.png 2x" alt="account dropdown")
    .row
      .ten.columns.caption
        .serif 
          | On the top 
        | The design for avatar dropdown - Including active state and hover state.


  .container.wide
      .row
        .twelve.columns
          img(src="imgs/cm/profile-switch-cm.png" srcset="imgs/cm/profile-switch-cm@2x.png 2x" alt="profile switch")
      
      .row
        .offset-by-three.six.columns.margins
          .small-imgs
            img(src="imgs/cm/icons-cm.png" srcset="imgs/cm/icons-cm@2x.png 2x" alt="cm icons")
