doctype html
html(lang='en')

  include includes/head.jade
    block title
      | - Geores
  header
    
    a(href="theiconic-apps.html")       
      .split.left 
        h6.subject.lightgrey Prev
        span The Iconic Apps
        
    .split
      .francesco_dechirico 
        a(href="index.html") 
          h1 de Chirico

    a(href="trf.html")       
      .split.right 
        h6.subject.lightgrey Next
        span The Right Fit
  body      
    .container
      include includes/logo-works.jade
          
      .row
        h1.darkgrey.introwork Geores
        h2.introwork A link between the brand and the Earth
        h3.introwork Branding Identity • 2011
        
    .container.wide.reading.fullonmobile
      .row
        .twelve.columns.pil.geores-intro
          img.img-gif.lazysizes(src="imgs/geores/animazione_geores-new.gif", data-pil-thumb-url="imgs/geores/animazione_geores-thumb.gif", data-full-height='350', data-full-width='350', alt='')

          //- img.lazysizes(src="imgs/geores/geores-branding.jpg", data-pil-thumb-url="imgs/geores/geores-branding-thumb.jpg", data-full-height='1130', data-full-width='765', alt='')

    .container
      .row
        .twelve.columns.caption
            .title Above 
            | The final dynamic identity created for geores.

    .container
      .row.company-desc  
        .two.columns
          h6.subject company 
        .ten.columns
          p 
            | Geores is an Italian company that deals with concrete activities on geotech, hydrogeology and geophisics - some of their clients are Eni, Enel and Johnson&Johnson. 
            
    .container
      .row
        hr
        h3.darkgrey Branding
      .row
        .nine.columns
          p 
            | I had the pleasure to work on this branding while I was working at the agency 
            a(href="http://www.cappellidesign.com/en/home", target="_blank") Cappelli Identity Design
            |  with the role of Art Director. The main purpose of this project on brand and corporate image is to show the stratification of different elements in a smart way. I decided to create a visual system that generates a sphere through the gradual overlapping of the elements.
          p The movement that generates this shape, a rotation on a 23° axis, references the angle of descent of the earth’s axis and strenghtens the link between the brand and the Earth.
        .three.columns.lightgrey
          .caption.left
              li Branding 
              li Packaging
              li Identity
              
    //- .container 
    //-   .row
    //-     .offset-by-one.five.columns.pil
    //-       img.lazysizes(src="imgs/geores/geores-white.jpg", data-pil-thumb-url="imgs/geores/geores-white-thumb.jpg", data-full-height='1130', data-full-width='765', alt='')
    //-       
    //-     .five.columns.pil
    //-       img.lazysizes(src="imgs/geores/geores-bg.jpg", data-pil-thumb-url="imgs/geores/geores-bg-thumb.jpg", data-full-height='1130', data-full-width='765', alt='')

    //- .container
    //-   .row
    //-     .offset-by-one.seven.columns.caption
    //-         .title Above 
    //-         | The logo is a custom serif typeface based on a geometric sans serif. The aim was to find the right balance between an exclusive fashion label and a contemporary digital brand.

    .container.wide.margin-top.fullonmobile
      .row
        .twelve.columns.pil
          img.lazysizes(src="imgs/geores/geores-sections.jpg", data-pil-thumb-url="imgs/geores/geores-sections-thumb.jpg", data-full-height='565', data-full-width='960', alt='')

    .container
      .row.margin-top
        .twelve.columns.pil
          img.lazysizes(src="imgs/geores/geores-departments-new.jpg", data-pil-thumb-url="imgs/geores/geores-departments-thumb-new.jpg", data-full-height='140', data-full-width='1130', alt='')

    .container
      .row.margin-top
        .offset-by-one.eight.columns.caption.margin-bottom
            .title Above 
            | The different variations of branding for the others departments.
            
    .full.geores
      .container
        .row
          .twelve.columns.margin-less-top.pil
            img.lazysizes(src="imgs/geores/geores-car.png", data-pil-thumb-url="imgs/geores/geores-car-thumb.png", data-full-height='418', data-full-width='891', alt='')

      .container
        .row
          .offset-by-one.eight.columns.caption
              .title Above and below
              | A few example of the brand identity applied on a car, in the corporate identity and a notebook.
      .container.margin-top
        .row
          .twelve.columns.pil
            img.lazysizes(src="imgs/geores/geores-corporate-identity.png", data-pil-thumb-url="imgs/geores/geores-corporate-identity-thumb.png", data-full-height='1130', data-full-width='765', alt='')

      .container
        .row
          .twelve.columns.pil
            img.lazysizes(src="imgs/geores/geores-notebook.jpg", data-pil-thumb-url="imgs/geores/geores-notebook-thumb.jpg", data-full-height='1130', data-full-width='765', alt='')

  script(src='./js/img-loader.js')
  include includes/footer-js.jade
