doctype html
include includes/head.jade
body      
  .container
    .hero
      .francesco_dechirico 
        a(href="#") Fra
      .intro
        .darkgrey I am a multi-disciplinary designer. Currently VP of Design at 
          a(href="https://www.airtasker.com/", target="_blank") Airtasker
          |. Previously at 
          a(href="http://", target="_blank") Campaign Monitor 
          | and 
          a(href="http://", target="_blank") The Iconic.
        .grey I am keen on ideas, method, humility, culture, honesty and pizza.
        
    h6.grey Works
    
  .works    
    .container
      .row
        .twelve.columns
          img(src="imgs/sel-home/airtasker.png" srcset="imgs/sel-home/airtasker@2x.png 2x" alt="Airtasker")
      .row
        .six.columns
          a(href="trf.html")
            img(src="imgs/sel-home/therightfit.png" srcset="imgs/sel-home/therightfit@2x.png 2x" alt="THE ICONIC")
        .six.columns
          img(src="imgs/sel-home/balto.png" srcset="imgs/sel-home/balto@2x.png 2x" alt="geores")
      .row
        .six.columns
          img(src="imgs/sel-home/theiconic.png" srcset="imgs/sel-home/theiconic@2x.png 2x" alt="THE ICONIC")
        .six.columns
          img(src="imgs/sel-home/theiconicapp.png" srcset="imgs/sel-home/theiconicapp@2x.png 2x" alt="geores")
      .row
        .six.columns
          img(src="imgs/sel-home/zanui.png" srcset="imgs/sel-home/zanui@2x.png 2x" alt="THE ICONIC")
        .six.columns
          .description 
            | Steve Snyder 
            | title Beard Extrodinarre
          img(src="imgs/sel-home/geores.png" srcset="imgs/sel-home/geores@2x.png 2x" alt="geores")
  
  .container
    //- .line
    hr
    .getintouch
      h3
        | That’s all folks.
        | Let’s work together.
      h3.grey Please email 
      h3 
        a(href="http://", target="_blank") hello@francescodechirico.com
  
  
  .container
    .social
      ul
        li More about his work at
        li 
          a(href="#", target="_blank") twitter
        li 
          a(href="#", target="_blank") facebook
        li 
          a(href="#", target="_blank") linkedin
        li 
          a(href="#", target="_blank") dribbble


    //- a(href id='cd-nav' class='cd-nav-trigger menu')
    //-   span.cd-nav-icon
    //-     
    //- #cd-nav.cd-nav
    //-   .cd-navigation-wrapper
    //-     .cd-half-block
    //-       h2 Navigation
    //-       nav
    //-         ul.cd-primary-nav
    //-           li 
    //-             a(href class="selected") Link 1
    //-           li 
    //-             a(href="#") Link 2
    //-           li 
    //-             a(href="#") Link 3
    //-             
    //-     .cd-half-block
    //-       address
    //-         ul.cd-contact-info
    //-          li
    //-             a(href="mailto:info@myemail.co") info@myemail.com
    //-           li 
    //-             span 0244-12345678
    //-           li
    //-             span MyStreetName 24
    //-             span W1234X
    //-             span London, UK
    //-         
