doctype html
html(lang='en')

  include includes/head.jade
  include includes/social.jade

    block title
      | 
  body.no-index
    .container
      .hero
        .francesco_dechirico 
          a(href="index.html") 
            svg(viewbox='0 0 44 45', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
              g(stroke='none', stroke-width='none', fill='none', fill-rule='evenodd')
                path(d='M26.4172794,16.2204892 C25.8585673,16.2204892 25.3341866,16.4385074 24.9393758,16.8345685 C24.5439445,17.2311495 24.3258059,17.7588844 24.3251854,18.3204606 C24.3245133,18.8820367 24.541411,19.4102915 24.9359116,19.8078601 C25.3304122,20.2053768 25.85531,20.4246945 26.413867,20.4253703 L28.3373029,20.4253703 L28.3373029,16.2204892 L26.4197612,16.2204892 L26.4172794,16.2204892 Z M30.3568978,22.8740252 C30.1907732,23.0060629 29.9928508,23.0700544 29.7964277,23.0700544 C29.5291704,23.0700544 29.2645499,22.9516363 29.0859647,22.7244691 C28.9670975,22.5733015 28.8615699,22.412673 28.7697438,22.2447668 L26.4128226,22.2447668 C25.3698002,22.2435711 24.3907356,21.8344622 23.6548343,21.0928677 C22.918933,20.3512733 22.5142985,19.3659289 22.5155394,18.3183604 C22.5180212,16.1574126 24.2675253,14.4010512 26.416235,14.4010512 L26.4208367,14.4010512 L28.3372926,14.4010512 L28.3372926,9.69790965 C28.3372926,9.19549058 28.7423925,8.78820104 29.2421105,8.78820104 C29.7418284,8.78820104 30.1469283,9.19549058 30.1469283,9.69790965 L30.1469283,20.5583229 C30.1469283,20.9333828 30.2743267,21.3019967 30.5056498,21.5962225 C30.8155112,21.9903602 30.7489166,22.562489 30.3568978,22.8740252 L30.3568978,22.8740252 Z M21.6027591,34.8063871 C16.8914501,34.8063871 13.0585899,30.9527575 13.0585899,26.2160347 C13.0585899,25.7136156 13.4636898,25.3063261 13.9634078,25.3063261 C14.4631257,25.3063261 14.8682256,25.7136156 14.8682256,26.2160347 C14.8682256,29.9495308 17.8893349,32.9869699 21.6027591,32.9869699 C25.3161833,32.9869699 28.3372926,29.9495308 28.3372926,26.2160347 C28.3372926,25.7136156 28.7423925,25.3063261 29.2421105,25.3063261 C29.7418284,25.3063261 30.1469283,25.7136156 30.1469283,26.2160347 C30.1469283,30.9527575 26.3140165,34.8063871 21.6027591,34.8063871 L21.6027591,34.8063871 Z M11.1110599,18.3264178 C10.611342,18.3264178 10.2062421,17.9191283 10.2062421,17.4167092 C10.2062421,16.9142902 10.611342,16.5070006 11.1110599,16.5070006 L12.994322,16.5070006 L12.994322,14.3400227 C12.994322,11.5653595 15.2395112,9.30803453 17.9992573,9.30803453 L21.6027591,9.30803453 C22.1024771,9.30803453 22.507577,9.71532408 22.507577,10.2177431 C22.507577,10.7201622 22.1024771,11.1274518 21.6027591,11.1274518 L17.9992573,11.1274518 C16.237396,11.1274518 14.8039577,12.5685861 14.8039577,14.3400227 L14.8039577,16.5070006 L18.9133302,16.5070006 C19.4130482,16.5070006 19.8181481,16.9142902 19.8181481,17.4167092 C19.8181481,17.9191283 19.4130482,18.3264178 18.9133302,18.3264178 L14.8039577,18.3264178 L14.8039577,21.6740935 C14.8039577,22.1765126 14.3988578,22.5838022 13.8991398,22.5838022 C13.3994219,22.5838022 12.994322,22.1765126 12.994322,21.6740935 L12.994322,18.3264178 L11.1110599,18.3264178 Z M21.9895041,0 C9.84503878,0 0,9.89825348 0,22.1083624 C0,34.3184714 9.84503878,44.2167249 21.9895041,44.2167249 C34.1340212,44.2167249 43.9790599,34.3184714 43.9790599,22.1083624 C43.9790599,9.89825348 34.1340212,0 21.9895041,0 L21.9895041,0 Z',)
          
        .intro
          h1
            | I am a multidisciplinary designer. Currently VP of Design at 
            a(href="https://www.airtasker.com/", target="_blank") Airtasker
            |. Previously at 
            a(href="https://www.campaignmonitor.com/", target="_blank") Campaign Monitor 
            | and 
            a(href="http://www.theiconic.com.au/", target="_blank") The Iconic
            |. 
            h3 I am keen on method, humility, honesty. 
              a(href="about.html") Read more
          
    .works
      .container
        h6.lightgrey.subject Work
        .row
          .twelve.columns.item
            .cs Coming soon
            img.lazysizes.hide-on-mobile(src="imgs/sel-home/airtasker.jpg", data-pil-thumb-url="imgs/sel-home/airtasker-thumb.jpg", data-full-width='753', data-full-height='265', alt='')
            img.lazysizes.hide-on-desk(src="imgs/sel-home/airtasker-mobile.jpg", data-pil-thumb-url="imgs/sel-home/airtasker-mobile-thumb.jpg", data-full-width='365', data-full-height='265', alt='')
            .mask
              .mask-text
                h5 Airtasker
                span Branding and Iconograhy

        .row
          .six.columns.item
            a(href="trf.html")
              .pil
                img.lazysizes(src="imgs/sel-home/therightfit@2x.jpg", data-pil-thumb-url="imgs/sel-home/therightfit-thumb.jpg", data-full-width='730', data-full-height='530', alt='')

              .mask
                .mask-text
                  h5 theright.fit
                  span Branding and Iconograhy
          
          .six.columns.item
            a(href="cm.html")
              .pil
                img.lazysizes(src="imgs/sel-home/cm@2x.jpg", data-pil-thumb-url="imgs/sel-home/cm-thumb.jpg", data-full-width='730', data-full-height='530', alt='')
              .mask
                .mask-text
                  h5 Campaign Monitor
                  span Product design
        .row
          .six.columns.item
            a(href="theiconic.html")
              .pil
                img.lazysizes(src="imgs/sel-home/theiconic@2x.jpg", data-pil-thumb-url="imgs/sel-home/theiconic-thumb.jpg", data-full-width='730', data-full-height='530', alt='')
              .mask
                .mask-text
                  h5 The Iconic
                  span Branding and Art Direction

          .six.columns.item
            a(href="zanui.html")
              .pil
                img.lazysizes(src="imgs/sel-home/zanui@2x.jpg", data-pil-thumb-url="imgs/sel-home/zanui-thumb.jpg", data-full-width='730', data-full-height='530', alt='')
              .mask
                .mask-text
                  h5 Zanui
                  span Branding and CI
        .row
          .six.columns.item
            a(href="theiconic-apps.html")
              .pil
                img.lazysizes(src="imgs/sel-home/theiconicapp@2x.jpg", data-pil-thumb-url="imgs/sel-home/theiconicapp-thumb.jpg", data-full-width='730', data-full-height='530', alt='')
                .mask
                  .mask-text
                    h5 The Iconic
                    span Product Design
                  
          .six.columns.item
            a(href="geores.html")
              .pil
                img.lazysizes(src="imgs/sel-home/geores@2x.jpg", data-pil-thumb-url="imgs/sel-home/geores-thumb.jpg", data-full-width='730', data-full-height='530', alt='')
              .mask
                .mask-text
                  h5 Geores
                  span Branding

    .container
      .getintouch
        h3
          | That’s all folks.
          | Say ciao! 
          br
          a(href="mailto:hello@francescodechirico.com?subject=Love your portfolio dude!", target="_blank") hello@francescodechirico.com
    
    
    .container
      .social.home
        ul
          li.first-child 
            a(href="https://twitter.com/FDC_DECHIRICO", target="_blank")
              +twitter
          li 
            a(href="https://medium.com/@dechirico", target="_blank")
              +medium
          li 
            a(href="https://www.instagram.com/dechiricofrancesco/?hl=en", target="_blank") 
              +instagram
          li 
            a(href="https://dribbble.com/DECHIRICO", target="_blank") 
              +dribbble
          li 
            a(href="https://au.linkedin.com/in/dechiricofrancesco", target="_blank")
              +linkedin
          li 
            a(href="https://github.com/DECHIRICO", target="_blank") 
              +github    
  script(src='./js/img-loader.js')
  include includes/footer-js.jade
