doctype html
include includes/head.jade
  block title
    | - The Iconic

header
  
  a(href="cm.html")       
    .split.left 
      h6.subject.lightgrey Prev
      span Campaign Monitor
      
  .split
    .francesco_dechirico 
      a(href="index.html") 
        h1 de Chirico

  a(href="zanui.html")       
    .split.right 
      h6.subject.lightgrey Next
      span Zanui
              
    
body      
  .container
    include includes/logo-works.jade
        
    .row
      h1.darkgrey.introwork The Iconic

  .container.wide.reading.fullonmobile
    .row
      .twelve.columns
        img(src="imgs/theiconic/theiconic-logo.png" srcset="imgs/theiconic/theiconic-logo@2x.png 2x" alt="theright.fit")

  .container
    .row
      .twelve.columns.caption
          .title Above 
          | The final design created for the new login screen.

  .container
    .row
      .twelve.columns.company-desc 
        p 
          a(href="https://www.campaignmonitor.com/", target="_blank") The Iconic 
          | launched in 2011 under e-commerce incubator 
          a(href="https://www.campaignmonitor.com/", target="_blank") Rocket Internet
          | . It's the Australia’s largest online fashion retailer and is one of Australia’s largest online fashion retailers, creating a growing home-based fashion community and quickly became a household name with over 90% brand recognition in under 3 years. 
  .container
    .row
      hr
      h6.subject brief  
      h3.darkgrey A new brand 
    .row
      .nine.columns
        p The branding objective was to create an icon, representative of both premium, mainstream fashion and sport, that supports the future growth of variousdepartments under The Iconic umbrella.When creating the visual identity from a technical perspective, I built a foundation that would enable it to be recognised across all platforms.
      .three.columns.lightgrey
        .caption.left
            li Product Design
            li Illustation
            li Icons Design
                    
  .container.wide
    .row
      .offset-by-one.ten.columns
        img(src="imgs/theiconic/theiconic-constrution.png" srcset="imgs/theiconic/theiconic-constrution@2x.png 2x")
  .container
    .row
      .row
        .eight.columns.caption
            .title Above 
            | The logo is a custom serif typeface based on a geometric sans serif. The aim was to find the right balance between an exclusive fashion label and a contemporary digital brand.
  //- .full.grey
  //- .container.wide
  //-   //- .row
  //-   //-   .four.columns
  //-   //-     img(src="imgs/theiconic/theiconic-green.png" srcset="imgs/theiconic/theiconic-green@2x.png 2x" alt="theright.fit")
  //-   //-   .four.columns
  //-   //-     img(src="imgs/theiconic/theiconic-red.png" srcset="imgs/theiconic/theiconic-red@2x.png 2x" alt="theright.fit")
  //-   //-   .four.columns
  //-   //-     img(src="imgs/theiconic/theiconic-pink.png" srcset="imgs/theiconic/theiconic-pink@2x.png 2x" alt="theright.fit")
  //-   .row
  //-     .twelve.columns
  //-       img(src="imgs/theiconic/theiconic-pattern.png" srcset="imgs/theiconic/theiconic-pattern@2x.png 2x" alt="theright.fit")
  .full.black-iconic
    .container
      .row
        hr
        h6.subject brief  
        h3.lightgrey TVC Campaign
      .row
        .nine.columns
          p Part of the brand re-launching consisted in a multi-channel campaign across TVC, PR, Radio and Print. My role, in collaboration with an external agency, was concept and direct the creativity from stage one to the final output. It tells a story of emerging; becoming your true self through fashion.
        .three.columns.lightgrey
          .caption.left
              li Product Design
              li Illustation
              li Icons Design    
              
    .container.wide.fullonmobile
      .row
        .twelve.columns
          img(src="imgs/theiconic/theiconic-tvcampaign.png" srcset="imgs/theiconic/theiconic-tvcampaign@2x.png 2x")
      //- .container  
      //-   .row
      //-     .offset-by-two.eight.columns
      //-       img(src="imgs/theiconic/theiconic-tvcampaign-2.png" srcset="imgs/theiconic/theiconic-tvcampaign-2@2x.png 2x" alt="theright.fit")
      .container
        .row
          .offset-by-two.eight.columns.caption
              .title Above 
              | A simplified variation of the logomark designed to support small applications.

      .container.wide
        .row
          .six.columns.col-margin-mobile
            img(src="imgs/theiconic/theiconic-fashion-2.png" srcset="imgs/theiconic/theiconic-fashion-2@2x.png 2x" alt="theright.fit")
          .six.columns
            img(src="imgs/theiconic/theiconic-fashion.png" srcset="imgs/theiconic/theiconic-fashion@2x.png 2x" alt="theright.fit")
      .container  
        .row
          .offset-by-two.eight.columns
            img(src="imgs/theiconic/theiconic-sport.png" srcset="imgs/theiconic/theiconic-sport@2x.png 2x" alt="theright.fit")
        .row
          .offset-by-two.ten.columns.caption
              .title On the right 
              | The Iconic is Australia’s largest online fashion retailer. 

include includes/footer-js.jade
