doctype html
include includes/head.jade
  block title
    | theright.fit
    
body      
  .container
    .hero
      .francesco_dechirico 
        a(href="home.html") Fra
        
    .row
      hr
      h1.darkgrey The Iconic Apps
    .row.less
      .eight.columns
        p The Iconic is Australia’s largest online fashion retailer. It launched in 2011 and quickly became a household name with over 90% brand recognition in under 3 years. When creating the visual identity from a technical perspective, I built a foundation that would enable it to be recognised across all platforms. 
      .four.columns.comments.lightgrey
        | Art Director - UX/UI Lead
        br
        | 2011-2013

  .container.wide
    .row
      .twelve.columns
        img(src="imgs/zanui/zanui-logo.png" srcset="imgs/zanui/zanui-logo.png@2x.png 2x" alt="zanui logo")
  .container
    .row
      .three.columns.comments Below
      .nine.columns 
        span Heretext heretext heretext heretext heretext heretext heretext heretext heretext heretext heretext heretext heretext heretext heretext here   
  .container
    .row
      .twelve.columns
        img(src="imgs/theiconic/theiconic-constrution.png" srcset="imgs/theiconic/theiconic-constrution@2x.png 2x" alt="theright.fit")

  .full.grey
    .container
      .row
        .four.columns
          img(src="imgs/theiconic/theiconic-green.png" srcset="imgs/theiconic/theiconic-green@2x.png 2x" alt="theright.fit")
        .four.columns
          img(src="imgs/theiconic/theiconic-red.png" srcset="imgs/theiconic/theiconic-red@2x.png 2x" alt="theright.fit")
        .four.columns
          img(src="imgs/theiconic/theiconic-pink.png" srcset="imgs/theiconic/theiconic-pink@2x.png 2x" alt="theright.fit")
      .row
        .twelve.columns
          img(src="imgs/theiconic/theiconic-pattern.png" srcset="imgs/theiconic/theiconic-pattern@2x.png 2x" alt="theright.fit")
      .row.note
        .three.columns.comments Above
        .nine.columns 
          span Heretext heretext heretext heretext heretext heretext heretext heretext heretext heretext heretext heretext heretext heretext heretext here
  .container
    .row.note
      h5.darkgrey The Iconic
    .row
      .eight.columns
        p najdnajnda jsndjsandja ndjnasjd najsndjsa njdasjndjasnd jnajndjansj  ajdnajsndjan ajndjansdjna
      .four.columns.comments.lightgrey
        | Art Director - UX/UI Lead
        br
        | 2011-2013      
    .row
      .twelve.columns
        img(src="imgs/theiconic/theiconic-tagline.png" srcset="imgs/theiconic/theiconic-tagline@2x.png 2x" alt="theright.fit")
  .container.wide
    .row
      .twelve.columns
        img(src="imgs/theiconic/theiconic-tvcampaign.png" srcset="imgs/theiconic/theiconic-tvcampaign@2x.png 2x" alt="theright.fit")
  .container
    .row
      .three.columns.comments Above
      .nine.columns 
        span Heretext heretext heretext heretext heretext heretext heretext heretext heretext heretext heretext heretext heretext heretext heretext here  .container  
    .row
      .twelve.columns
        img(src="imgs/theiconic/theiconic-video-campaign.png" srcset="imgs/theiconic/theiconic-video-campaign@2x.png 2x" alt="theright.fit")
    .row
      .twelve.quote.lightgrey
         span Backseat is the first ridesharing app in Australia. Just select your pick-up location, and the app connects you with the closest available driver. Being part of the founding team has been a beneficial and challenging experience.
    
  .full.grey
    .container
      .row.note
        h5.darkgrey The Iconic
      .row
        .eight.columns
          p najdnajnda jsndjsandja ndjnasjd najsndjsa njdasjndjasnd jnajndjansj  ajdnajsndjan ajndjansdjna
        .four.columns.comments.lightgrey
          | Art Director - UX/UI Lead
          br
          | 2011-2013 
    .container.mid-wide
      .row
        .six.columns
          img(src="imgs/theiconic/theiconic-fashion-2.png" srcset="imgs/theiconic/theiconic-fashion-2@2x.png 2x" alt="theright.fit")
        .six.columns
          img(src="imgs/theiconic/theiconic-fashion.png" srcset="imgs/theiconic/theiconic-fashion@2x.png 2x" alt="theright.fit")
    .container  
      .row
        .eight.columns
          img(src="imgs/theiconic/theiconic-sport.png" srcset="imgs/theiconic/theiconic-sport@2x.png 2x" alt="theright.fit")
        .four.columns 
          span Heretext heretext heretext heretext heretext heretext heretext heretext heretext heretext heretext heretext heretext heretext heretext here  
