doctype html
html(lang='en')

  include includes/head.jade
  include includes/logo.jade
    block title
      |- The Iconic App
  header
    
    a(href="zanui.html")       
      .split.left 
        h6.subject.lightgrey Prev
        span Zanui
        
    .split
      +logo   

    a(href="geores.html")       
      .split.right 
        h6.subject.lightgrey Next
        span Geores
  body      
    .container
      include includes/logo-works.jade
          
      .row
        h1.darkgrey.introwork The Iconic apps
        h3.introwork Product design • 2011/2015

    .full.intro
      .container.wide.reading
          .row
            .twelve.columns.pil
              img.lazysizes(src="imgs/theiconicapps/theiconic-website-responsive.png", data-pil-thumb-url="imgs/theiconicapps/theiconic-website-responsive-thumb.png", data-full-height='350', data-full-width='350', alt='')

    .container
      .row.company-desc  
        .two.columns
          h6.subject company 
        .ten.columns
          p 
            a(href="https://www.theiconic.com.au/", target="_blank") The Iconic 
            | launched in 2011 under e-commerce incubator 
            a(href="https://www.rocket-internet.com/", target="_blank") Rocket Internet GmBh
            | . It is one of Australia’s largest online fashion retailers creating a growing home-based fashion community and quickly became a household name with over 90% brand recognition.
    
    .container
      .row
        hr
        h3.darkgrey Responsive website 
      .row
        .nine.columns
          p The brief was to redesign the e-commerce experience addressing the mobile web experience (previously just a stand alone version for mobile viewers only).
          p A part from the obvious challeges we had to face a few additional ones specific to an e-commerce application - for example we knew that the page speed had to feel fast on every device so we couldn't use large images, the branding and UI needed to be to be recognisable at any scale so we decide to reduce the amount of "visual elements" down to the necessary and we introduce a new custom font that included all the icons all the shapes required for the website. 
          //- p Finally we needed to design a framework/template that could easily be used to create landing pages for new campaigns or products launches. 
        .three.columns.lightgrey
          .caption.left
              li Icon Design
              li UI/UX
              li Wireframing
              
    .container.margin-top
      .row
        .offset-by-two.eight.columns.pil
          img.lazysizes(src="imgs/theiconicapps/theiconic-icons-big.jpg", data-pil-thumb-url="imgs/theiconicapps/theiconic-icons-big-thumb.jpg", data-full-height='263', data-full-width='671', alt='')

    .container.wide
      .row.margin-top 
        .twelve.columns.pil
          img.lazysizes(src="imgs/theiconicapps/theiconic-icons-all.jpg", data-pil-thumb-url="imgs/theiconicapps/theiconic-icons-all-thumb.jpg", data-full-height='235', data-full-width='980', alt='')

    .container
      .row.margin-top
        .offset-by-two.eight.columns.caption.margin-bottom
            .title Above 
            | Some of the icons that I've created for the website. The icons have been translated into a typeface to improve the speed and the consistency of the website.
    .container.wide
      .row.margin-top 
        .twelve.columns.pil
          img.lazysizes(src="imgs/theiconicapps/theiconic-product-page.jpg", data-pil-thumb-url="imgs/theiconicapps/theiconic-product-page-thumb.jpg", data-full-height='263', data-full-width='671', alt='')

    .full.black-iconic
      .container.margin-bottom
        .row
          h3.lightgrey iOS App
        .row
          .nine.columns
            p 
              | The direction was to create an App that was fast, stable, easy to shop and most importantly, have a native checkout which enabled the customer to buy using just two taps (in the old App the checkout was a webview of the website).
          .three.columns.lightgrey
            .caption.left
                li UI/UX Design
                li User Research
                li Animations
                
        .row
          .twelve.columns
            img.lazysizes(src="imgs/theiconicapps/iconic-ios-sketches.jpg", data-pil-thumb-url="imgs/theiconicapps/iconic-ios-sketches-thumb.jpg", data-full-height='745', data-full-width='498', alt='The Iconic App Sketches')
        .row
          .twelve.columns.caption
            .title Above 
            | Some layouts of the main phases. The checkout step needed to accomodate variable shipping options, payment options, voucher and gift cart discounts.
      .container.wide
        .row
          .three.columns.pil.half-on-mobile
              img.lazysizes(src="imgs/theiconicapps/ios-app-theiconic-catalogue.png", data-pil-thumb-url="imgs/theiconicapps/ios-app-theiconic-catalogue-thumb.png", data-full-height='609', data-full-width='294', alt='')
          .three.columns.pil.half-on-mobile
              img.lazysizes(src="imgs/theiconicapps/ios-app-theiconic-launch-screen.png", data-pil-thumb-url="imgs/theiconicapps/iios-app-theiconic-launch-screen-thumb.png", data-full-height='609', data-full-width='294', alt='')
          .three.columns.pil.half-on-mobile
              img.lazysizes(src="imgs/theiconicapps/ios-app-theiconic-product.png", data-pil-thumb-url="imgs/theiconicapps/ios-app-theiconic-product-thumb.png", data-full-height='609', data-full-width='294', alt='')
          .three.columns.pil.half-on-mobile
              img.lazysizes(src="imgs/theiconicapps/ios-app-theiconic-summary.png", data-pil-thumb-url="imgs/theiconicapps/ios-app-theiconic-summary-thumb.png", data-full-height='609', data-full-width='294', alt='')
        .row
          .three.columns.pil.half-on-mobile
              img.lazysizes(src="imgs/theiconicapps/ios-app-theiconic-success.png", data-pil-thumb-url="imgs/theiconicapps/ios-app-theiconic-success-thumb.png", data-full-height='609', data-full-width='294', alt='')
          .three.columns.pil.half-on-mobile
              img.lazysizes(src="imgs/theiconicapps/ios-app-theiconic-payment.png", data-pil-thumb-url="imgs/theiconicapps/ios-app-theiconic-payment-thumb.png", data-full-height='609', data-full-width='294', alt='')
          .three.columns.pil.half-on-mobile
              img.lazysizes(src="imgs/theiconicapps/ios-app-theiconic-filters.png", data-pil-thumb-url="imgs/theiconicapps/ios-app-theiconic-filters-thumb.png", data-full-height='609', data-full-width='294', alt='')
          .three.columns.pil.half-on-mobile
              img.lazysizes(src="imgs/theiconicapps/ios-app-theiconic-cart.png", data-pil-thumb-url="imgs/theiconicapps/ios-app-theiconic-cart-thumb.png", data-full-height='609', data-full-width='294', alt='')

        .row
          .offset-by-three.seven.columns.caption
              .title Above 
              | The final design for the primary screens of the new iOS App for The Iconic.

  script(src='./js/img-loader.js')
  include includes/footer-js.jade
