doctype html
include includes/head.jade
  block title
    | theright.fit
    
body      
  .container
    include includes/logo-works.jade
        
    .row
      hr
      h1.darkgrey theright.fit
    .row
      .ten.columns
        p The Iconic is Australia’s largest online fashion retailer. It launched in 2011 and quickly became a household name with over 90% brand recognition in under 3 years. When creating the visual identity from a technical perspective, I built a foundation that would enable it to be recognised across all platforms. 
      .two.columns.lightgrey
        .caption Art Director
        .caption UX/UI Lead
        .caption 2011-2013

  .container.wide
    .row.margin
      .twelve.columns
        img(src="imgs/trf/theright.fit-logo.png" srcset="imgs/trf/theright.fit-logo@2x.png 2x" alt="theright.fit")
    .row
      .twelve.columns
        img(src="imgs/trf/therightfit-logomark.png" srcset="imgs/trf/therightfit-logomark@2x.png 2x" alt="theright.fit")
  .container  
    .row
      .offset-by-two.ten.columns.caption
          .serif On the right 
          | The Iconic is Australia’s largest online fashion retailer. 
  .full.black
    .container
      .row
        .twelve.columns
          img(src="imgs/trf/therightfit-grid.png" srcset="imgs/trf/therightfit-grid@2x.png 2x" alt="theright.fit")

      .row.margin-top
        .three.columns.caption.right
          .serif Above
        .nine.caption
          | Heretext heretext heretext heretext heretext heretext heretext heretext heretext heretext heretext heretext heretext heretext heretext here      
  .container
    .row
      .container
        .row.margin-top
        .twelve.columns
          img(src="imgs/trf/therightfit-display.png" srcset="imgs/trf/therightfit-display@2x.png 2x" alt="theright.fit")
    
  .full.trf
    .container
      .row
        .twelve.columns
          img(src="imgs/trf/therightfit-diplay-2.png" srcset="imgs/trf/therightfit-diplay-2@2x.png 2x" alt="theright.fit")

  .full.black
    .container
      .row
        .twelve.columns
          img(src="imgs/trf/therightfit-big-icons.png" srcset="imgs/trf/therightfit-big-icons@2x.png 2x" alt="theright.fit")

    .container.wide
      .row
        .twelve.columns
          img(src="imgs/trf/therightfit-all-icons.png" srcset="imgs/trf/therightfit-all-icons@2x.png 2x" alt="theright.fit")

  .container
    .row
      .twelve.columns.margin-less-top
        img(src="imgs/trf/therightfit-website.png" srcset="imgs/trf/therightfit-website@2x.png 2x" alt="theright.fit")
