doctype html
html(lang='en')
  include includes/head.jade
    block title
      | - theright.fit
  header
    a(href="geores.html")       
      .split.left 
        h6.subject.lightgrey Prev
        span Geores
    .split
      .francesco_dechirico 
        a(href="index.html") 
          h1 de Chirico

    a(href="cm.html")       
      .split.right 
        h6.subject.lightgrey Next
        span Campaign Monitor
  body
    .container
      include includes/logo-works.jade
          
      .row
        h1.darkgrey.introwork theright.fit
        h3.introwork Branding • 2016
        
    .container.wide.fullonmobile.reading
      .row
        .twelve.columns
          img(src="imgs/trf/theright.fit-logo.png" srcset="imgs/trf/theright.fit-logo@2x.png 2x")
    
    .container
      .row
        .twelve.columns.caption
            .title Above 
            | The final logo designed for theright.fit
            
    .container
      .row.company-desc  
        .two.columns
          h6.subject company 
        .ten.columns
          p
            a(href="https://theright.fit/", target="_blank") Theright.fit
            |  is a start up launched by Taryn Williams and Aurelien Labonne that aims to revolutionise the modelling and talent industry by removing hidden commissions and bias, empowering users of the platform with the information and facts they need to make informed decisions about their next job or casting. 
    .container
      .row
        hr
        h3.darkgrey A new brand
      .row
        .nine.columns
          p Theright.fit needed a fashionable brand that could represent the concept of choosing the perfect talent for the job. I designed the branding and the identity - creating a recognizable visual language for online and offline applications.
        .three.columns.lightgrey
          .caption.left
              li Branding
              li Corporate Identity
              li Icons Design
              
    .container.wide.fullonmobile
      .row
        .twelve.columns
          img(src="imgs/trf/therightfit-logomark.png" srcset="imgs/trf/therightfit-logomark@2x.png 2x")
            
    .container  
      .row
        .offset-by-two.eight.columns.caption
            .title Above 
            | A simplified variation of the logomark designed to support small applications.
            
    .full.black
      .container
        .row
          .twelve.columns.margin-top
            img(src="imgs/trf/therightfit-grid.png" srcset="imgs/trf/therightfit-grid@2x.png 2x")

      .container
        .row.margin-top
          .offset-by-two.eight.columns.caption
              .title Above 
              | The pattern works in parallel with the logomark to define the identity and the yellow dot represents the right talent selected. The pattern can be applied in different ways based on the usage. 

    .container.margins
      .row
        .container
          .row.margin-top
          .twelve.columns
            img(src="imgs/trf/therightfit-display.png" srcset="imgs/trf/therightfit-display@2x.png 2x")
      
    .full.trf

      .container
        .row
          .twelve.columns
            img(src="imgs/trf/therightfit-diplay-2.png" srcset="imgs/trf/therightfit-diplay-2@2x.png 2x")
      .container
        .offset-by-two.eight.columns.caption
            .title Above 
            | An example of the identity applied, using multiple images in conjunction with the logomark and the pattern.

    .full.black
      .container
        .row
          .offset-by-one.ten.columns
            img(src="imgs/trf/therightfit-big-icons.png" srcset="imgs/trf/therightfit-big-icons@2x.png 2x")

      .container.wide
        .row
          .offset-by-one.ten.columns
            img(src="imgs/trf/therightfit-all-icons.png" srcset="imgs/trf/therightfit-all-icons@2x.png 2x")
        .row
          .offset-by-two.eight.columns.caption
              .title Above
              | The icon design is based on the primary typeface Brandon - maintaining the same boldness and roundness as the typeface.

    .container
      .row
        .twelve.columns.margins
          img(src="imgs/trf/therightfit-website.png" srcset="imgs/trf/therightfit-website@2x.png 2x")
  script(src='./js/img-loader.js')
  include includes/footer-js.jade
