doctype html
head
  meta(charset="utf-8")
  title Work
  script(src='./javascripts/jquery.js')
  link(href='./css/style.css', rel='stylesheet')
    
    
  blurImge 
  blur  
  header
    h1 Medium
    //- a href='https://medium.com/' title='Medium'>Learn more</a>
    p Everyone’s stories and ideas
    navigation
    
      li 
        a(href ='#') active
      li 
        a Bookmarks
      li 
        a Top 100
body      
container
