doctype html
head
  meta(charset="utf-8")
  title Work
  script(src='./js/jquery-2.1.1.js')
  script(src='./js/main.js')
  script(src='./js/modernizr.js')
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css")
  link(href="./css/skeleton.css" rel="stylesheet")
  link(href='./css/nav.css', rel='stylesheet')
  link(href='./css/fdc-style.css', rel='stylesheet')
  link(href='./bower_components/normalize-css/normalize.css', rel='stylesheet')
  //- <link rel="icon" type="image/png" href="images/favicon.png">
    
  body      
    main
      .container
        h1 My name is Francesco De Chirico (duh-key-ree-coh). Call me Fra. I am a multi-disciplinary designer. I am keen on ideas, method, culture, honesty, humility and pizza.
      .container
        .row
          .six.columns
            h1 six columns
            a(href ='https://medium.com/' title='Medium') Learn more
          .six.columns
            h1 six columns
            a(href ='https://medium.com/' title='Medium') Learn more
            p Everyone’s stories and ideas
        .row
          .twelve.columns
            img(src="imgs/760px-img.png" srcset="imgs/760px-img@2x.png 2x" alt="760px")
      .container.wide
        .row
          .twelve.columns
            img(src="imgs/theiconic/theiconic.png" srcset="imgs/theiconic/theiconic@2x.png 2x" alt="760px")
            
            
            
    a(href id='cd-nav' class='cd-nav-trigger menu')
      span.cd-nav-icon
        
    #cd-nav.cd-nav
      .cd-navigation-wrapper
        .cd-half-block
          h2 Navigation
          nav
            ul.cd-primary-nav
              li 
                a(href class="selected") Link 1
              li 
                a(href="#") Link 2
              li 
                a(href="#") Link 3
                
        .cd-half-block
          address
            ul.cd-contact-info
             li
                a(href="mailto:info@myemail.co") info@myemail.com
              li 
                span 0244-12345678
              li
                span MyStreetName 24
                span W1234X
                span London, UK
            
