doctype html
html(lang='en')
  include includes/head.jade
    block title
      | - zanui
  header
    a(href="theiconic.html")       
      .split.left 
        h6.subject.lightgrey Prev
        span The Iconic
    .split
      .francesco_dechirico 
        a(href="index.html") 
          h1 de Chirico

    a(href="trf.html")       
      .split.right 
        h6.subject.lightgrey Next
        span Theright.fit
  body  
    .container
      include includes/logo-works.jade

      .row
        h1.darkgrey.introwork Zanui

    .container.wide.fullonmobile.reading
      .row
        .twelve.columns
          img(src="imgs/zanui/zanui-logo.png" srcset="imgs/zanui/zanui-logo@2x.png 2x")
    
    .container
      .row
        .twelve.columns.caption
            .title Above 
            | The final logo created for Zanui.

    .container
      .row
        .twelve.columns.company-desc 
          p 
            a(href="https://www.zanui.com.au/", target="_blank") Zanui 
            | is part of the european e-commerce incubator
            a(href="https://www.rocket-internet.com/", target="_blank") Rocket Internet GmBh 
            |. The company is specialised in homewares and furniture proving consumers with stylish new products, inspiration and ideas for the home.
    .container
      .row
        hr
        h6.subject brief  
        h3.darkgrey New Branding
      .row
        .nine.columns
          p The branding and identity of Zanui was entirely custom made, reflecting the palette and style of the products displayed. In addition, the website and the emails were designed utilising a number of key UX practices on large retail sites.
        .three.columns.lightgrey
          .caption.left
              li Art Direction
              li Branding
              li Identity System

    .container
      .row
        .offset-by-one.three.columns.caption
          .title On the right
          | The geometry to generate the logomark.
        .seven.columns
          img(src="imgs/zanui/zanui-logo-geometric.png" srcset="imgs/zanui/zanui-logo-geometric@2x.png 2x")

      .container
        .row
          .ten.columns.caption
              .title Below 
              | The initial color palette selected.
        .row
          .twelve.columns.margins
            img(src="imgs/zanui/zanui-colours.png" srcset="imgs/zanui/zanui-colours@2x.png 2x")

    .full.grey
      .container.wide.fullonmobile
        .row
          .twelve.columns
            img(src="imgs/zanui/zanui-billboard.png" srcset="imgs/zanui/zanui-billboard@2x.png 2x")
        .row
          .offset-by-two.ten.columns.caption
              .serif Above and Below
              | are two applications of the brand idenity on billboards.

      .container
        .row
          .twelve.columns
            img(src="imgs/zanui/zanui-artwork.png" srcset="imgs/zanui/zanui-artwork@2x.png 2x")
        .row
          .offset-by-one.ten.columns.margin-top
            img(src="imgs/zanui/zanui-emails.png" srcset="imgs/zanui/zanui-emails@2x.png 2x")
        .row
          .offset-by-two.ten.columns.caption
              .serif Above
              | a couple of designs created for the newsletter and transactional emails.
              
    .full.zanui-products
      .stamp
        img(src="imgs/zanui/zanui-stamp.png" srcset="imgs/zanui/zanui-stamp@2x.png")
  script(src='./js/img-loader.js')
  include includes/footer-js.jade
