@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Francesco\/Documents\/GitHub\/Personal\/sass\/style\.sass}line{font-family:\000036}}
html, body {
  height: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Francesco\/Documents\/GitHub\/Personal\/sass\/style\.sass}line{font-family:\000039}}
body {
  margin: 0px;
  padding: 0px;
  font: 0.6em/1.6em "aktiv-grotesk", sans-serif, serif;
  color: #b9c8cf;
  background-color: #1e2529;
  font-weight: 200;
  text-rendering: optimizeLegibility;
  display: flex;
  align-items: center;
  justify-content: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Francesco\/Documents\/GitHub\/Personal\/sass\/style\.sass}line{font-family:\0000321}}
.container {
  max-width: 400px;
  max-height: 308px;
  width: 300px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Francesco\/Documents\/GitHub\/Personal\/sass\/style\.sass}line{font-family:\0000326}}
h1 {
  font-family: "aktiv-grotesk", sans-serif;
  font-size: 3.2em;
  font-weight: lighter;
  line-height: 1.2em;
  letter-spacing: 0.1em;
  float: left;
  width: 100%;
  color: #d0d2d4; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Francesco\/Documents\/GitHub\/Personal\/sass\/style\.sass}line{font-family:\0000338}}
.content a:hover {
  color: #98c1db; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Francesco\/Documents\/GitHub\/Personal\/sass\/style\.sass}line{font-family:\0000341}}
.content a:active, .content a:focus {
  color: #98c1db; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Francesco\/Documents\/GitHub\/Personal\/sass\/style\.sass}line{font-family:\0000344}}
.content a {
  text-decoration: none;
  color: #d0d2d4;
  padding-bottom: 1px;
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Francesco\/Documents\/GitHub\/Personal\/sass\/style\.sass}line{font-family:\0000354}}
.content p {
  font-size: 1.6em;
  line-height: 1.4em;
  padding: 0;
  margin: 0 auto 1em;
  color: #819199; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Francesco\/Documents\/GitHub\/Personal\/sass\/style\.sass}line{font-family:\0000361}}
.content ul {
  font-size: 1.6em;
  line-height: 1.5625em;
  padding: 0;
  margin: 0;
  padding: 0;
  margin: 0;
  list-style-position: outside;
  list-style: none;
  padding-left: 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Francesco\/Documents\/GitHub\/Personal\/sass\/style\.sass}line{font-family:\0000376}}
ul li:before {
  content: "/";
  position: absolute;
  margin-left: -20px;
  color: #d0d2d4;
  color: #98c1db; }

@media (max-width: 768px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Francesco\/Documents\/GitHub\/Personal\/sass\/style\.sass}line{font-family:\0000387}}
  body {
    font-size: 0.7em;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Francesco\/Documents\/GitHub\/Personal\/sass\/style\.sass}line{font-family:\0000394}}
  li {
    padding-bottom: 3px; } }

/*# sourceMappingURL=style.css.map */
