.dropdown nav {
  max-height: 0;
  overflow: hidden;
  transition: all 600ms ease; }
  .dropdown nav a {
    display: block; }
.dropdown:hover nav {
  max-height: 999px; }
.dropdown a {
  color: white;
  padding: 1em 2em;
  text-decoration: none;
  font-family: sans-serif; }
