head
  meta(charset="utf-8")
  block title
    title de Chirico  
  meta(name="description" content="Francesco De Chirico - Designer")
  meta(name="Keywords" content="Francesco De Chirico designer UX UI product software app creative art airtasker theright.fit campaign monitor theiconic the iconic theiconiapp Graphic Digital Design Portfolio Designer Rome Italy Sydney")
  meta(name="viewport" content="width=device-width, initial-scale=1")

  //TWITTER CARD 
    //- meta(name='twitter:image', content='http://graphics8.nytimes.com/images/2012/02/19/us/19whitney-span/19whitney-span-articleLarge.jpg')
    //- meta(name='twitter:card', content='summary_large_image')
    //- meta(name='twitter:image', content='https://buzzusborne.com/_assets/gfx/twittercard.jpg')
    //- meta(property='og:image', content='https://buzzusborne.com/_assets/gfx/twittercard.jpg')
    //- meta(name='twitter:site', content='@FDC_DECHIRICO')
    //- meta(name='twitter:creator', content='@FDC_DECHIRICO')
    //- meta(name='twitter:title', content='Portfolio of De Chirico Francesco')
    //- meta(name='twitter:description', content='I am a multi-disciplinary designer. Currently VP of Design at Airtasker. Previously at Campaign Monitor and The Iconic.
  
  script(src='./js/modernizr.js')
  script(src='./js/lazysizes.min.js')
  script(src='./js/jquery-2.1.1.js')
  script(src='./js/analytics.js')

  link(href='./css/style.css', rel='stylesheet')
  link(href='./bower_components/normalize-css/normalize.css', rel='stylesheet')
  link(rel="icon" href="favicon.ico" type="image/x-icon")
  link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
    
