head
  meta(charset="utf-8")
  title deChirico
  script(src='./js/jquery-2.1.1.js')
  script(src='./js/main.js')
  script(src='./js/modernizr.js')
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css")
  link(href='./css/style.css', rel='stylesheet')
  link(href='./bower_components/normalize-css/normalize.css', rel='stylesheet')
  <link href="https://fonts.googleapis.com/css?family=Baloo|Fira+Mono|Montserrat|Raleway|Work+Sans:400,700" rel="stylesheet">
