head
  meta(charset="utf-8")
  block title
    title de Chirico  
  meta(name="description" content="Free Web tutorials")
  script(src='./js/jquery-2.1.1.js')
  script(src='./js/main.js')
  script(src='./js/modernizr.js')
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css")
  link(href='./css/style.css', rel='stylesheet')
  link(href='./bower_components/normalize-css/normalize.css', rel='stylesheet')
  link(href="https://fonts.googleapis.com/css?family=Fira+Mono|Merriweather:300i|Raleway" rel="stylesheet")
  script(src="https://use.typekit.net/big7vfp.js")
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
