head
  meta(charset="utf-8")
  block title
    title de Chirico  
  meta(name="description" content="Francesco De Chirico - Designer")
  meta(name="Keywords" content="Francesco De Chirico designer UX UI product software app creative art airtasker theright.fit campaign monitor theiconic the iconic theiconiapp Graphic Digital Design Portfolio Designer Rome Italy Sydney")
  script(src='./js/main.js')
  script(src='./js/modernizr.js')
  script(src='./js/lazysizes.min.js')

  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(href='./css/style.css', rel='stylesheet')
  link(href='./bower_components/normalize-css/normalize.css', rel='stylesheet')
  link(rel="icon" href="favicon.ico" type="image/x-icon")
  link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
    
