header
  a(href="theiconic.html")       
    .split.left 
      h6.subject.lightgrey Prev
      p Zanui
       
  .split
    .francesco_dechirico 
      a(href="index.html") 
        h1 de Chirico

  a(href="theiconic.html")       
    .split.right 
      h6.subject.lightgrey Next
      p The Iconic
    
