doctype html
html(lang='en')

  include includes/head.jade
  include includes/logo.jade
  
  header
    a(href="cm.html")       
      .split.left 
        h6.subject.lightgrey Prev
        span Campaign Monitor
        
    .split
      +logo   

    a(href="zanui.html")       
      .split.right 
        h6.subject.lightgrey Next
        span Zanui
  body      
    .container
      include includes/logo-works.jade
          
      .row
        h1.darkgrey.introwork THE ICONIC
        h3.introwork Art director • 2011/15
    .container.wide.reading.fullonmobile
      .row
        .twelve.columns
          img(src="imgs/theiconic/theiconic-logo.png" srcset="imgs/theiconic/theiconic-logo@2x.png 2x")
    .container
      .row
        .twelve.columns.caption
            .title Above 
            | The final logo created for THE ICONIC.
    .container
      .row.company-desc  
        .two.columns
          h6.subject company 
        .ten.columns
          p 
            a(href="https://www.theiconic.com.au/", target="_blank") THE ICONIC
            |  launched in 2011 under e-commerce incubator 
            a(href="https://www.rocket-internet.com/", target="_blank") Rocket Internet GmBh
            | . It is one of Australia’s largest online fashion retailers creating a growing home-based fashion community and quickly became a household name with over 90% brand recognition.

    .container
      .row
        h6.subject brief  
        h3.darkgrey A new brand 
      .row
        .nine.columns
          p The branding objective was to create an icon, representative of both premium and mainstream, fashion and sport, that could support the future growth of various departments under THE ICONIC umbrella. When creating the visual identity from a technical perspective, I built a foundation that would enable it to be recognised across all platforms.
        .three.columns.lightgrey
          .caption.left
              li Branding 
              li Typography
              li Identity
                      
    .row
      .twelve.columns
        img(src="imgs/theiconic/theiconic-constrution.png" srcset="imgs/theiconic/theiconic-constrution@2x.png 2x")

    .container
      .row
        .eight.columns.caption
            .title Above 
            | The logo is a custom serif typeface based on a geometric sans serif. The aim was to find the right balance between an exclusive fashion label and a contemporary digital brand.

    .container
      .row
        .twelve.columns
          img(src="imgs/theiconic/theiconic-pattern.png" srcset="imgs/theiconic/theiconic-pattern@2x.png 2x")

    .container
      .row
        .four.columns.hide-on-mobile
          img(src="imgs/theiconic/theiconic-green.png" srcset="imgs/theiconic/theiconic-green@2x.png 2x")
        .four.columns.hide-on-mobile
          img(src="imgs/theiconic/theiconic-red.png" srcset="imgs/theiconic/theiconic-red@2x.png 2x")
        .four.columns.hide-on-mobile
          img(src="imgs/theiconic/theiconic-pink.png" srcset="imgs/theiconic/theiconic-pink@2x.png 2x")

      .row
        .eight.columns.caption
            .title Above 
            | The pattern design created for the Gift Paper based on the typeface and the three primary colours selected for the identity.

    .full.black-iconic
      .container.margin-bottom
        .row
          h6.subject brief  
          h3.lightgrey TVC Campaign
        .row
          .nine.columns
            p 
              | Part of the brand re-launching was a multi-channel campaign across TVC, PR, Radio and Print.
              | My role, in collaboration with the agency 
              a.lightgrey(href="http://joyagency.co/", target="_blank") Joy
              |, was concepting the creativity from stage one to the final output. It tells a story of emerging (For the new Icons of Fashion) - becoming your true self through fashion.
            p As part of this project I've extened the visual identity introducing a new device - the rectangle "Frame" serves to highlight the emerging concept.

          .three.columns.lightgrey
            .caption.left
                li Photography
                li Art Direction
                li Visual Identity

      .container.margin-bottom
        .row
          .twelve.columns
            img(src="imgs/theiconic/theiconic-frame-design.png" srcset="imgs/theiconic/theiconic-frame-design@2x.png 2x")

      .container
        .row
          .offset-by-two.eight.columns.caption
              .title Above 
              | The "Frame" and the tagline used for the campaign.

      .container.wide.fullonmobile.margin-top
        .row
          .twelve.columns.pil
            img.lazysizes(src="imgs/theiconic/theiconic-tvcampaign-2@2x.jpg", data-pil-thumb-url="imgs/theiconic/theiconic-tvcampaign-2-thumb.png", data-full-height='860', data-full-width='1116', alt='')

              
      .container
        .row
          .six.columns.col-margin-mobile.pil
            img.lazysizes(src="imgs/theiconic/theiconic-sport@2x.jpg", data-pil-thumb-url="imgs/theiconic/theiconic-sport-thumb.png", data-full-height='1780', data-full-width='1250', alt='')
          .six.columns.pil
            img.lazysizes(src="imgs/theiconic/theiconic-fashion@2x.jpg", data-pil-thumb-url="imgs/theiconic/theiconic-fashion-thumb.png", data-full-height='1768', data-full-width='1244', alt='')
          .row
            .offset-by-two.eight.columns.caption.margin-top
                .title Above 
                | Two applications, one for a fashion and one for sport, using the of the "Frame" and the new branding.
  script(src='./js/img-loader.js')
  include includes/footer-js.jade
